<!DOCTYPE html>
<!--
Kirigiri: Investigations - 3D Truth Bullet Examinations
Copyright (C) 2023-2025  ocremaker

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
    <head>
        <title>Kirigiri: Investigations - Identity Card (Chapter 3)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset='UTF-8'/>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body id="idcard3D">
        <!-- Dialog declarations -->
        {{ dialog_anchors }}
        
        <!-- View mouse areas -->
        <div class="view-section view-top-0 view-left-0"></div>
        <div class="view-section view-top-0 view-left-1"></div>
        <div class="view-section view-top-0 view-left-2"></div>
        <div class="view-section view-top-0 view-left-3"></div>
        <div class="view-section view-top-0 view-left-4"></div>
        <div class="view-section view-top-0 view-left-5"></div>
        <div class="view-section view-top-0 view-left-6"></div>
        <div class="view-section view-top-0 view-left-7"></div>
        <div class="view-section view-top-0 view-left-8"></div>
        <div class="view-section view-top-1 view-left-0"></div>
        <div class="view-section view-top-1 view-left-1"></div>
        <div class="view-section view-top-1 view-left-2"></div>
        <div class="view-section view-top-1 view-left-3"></div>
        <div class="view-section view-top-1 view-left-4"></div>
        <div class="view-section view-top-1 view-left-5"></div>
        <div class="view-section view-top-1 view-left-6"></div>
        <div class="view-section view-top-1 view-left-7"></div>
        <div class="view-section view-top-1 view-left-8"></div>
        <div class="view-section view-top-2 view-left-0"></div>
        <div class="view-section view-top-2 view-left-1"></div>
        <div class="view-section view-top-2 view-left-2"></div>
        <div class="view-section view-top-2 view-left-3"></div>
        <div class="view-section view-top-2 view-left-4"></div>
        <div class="view-section view-top-2 view-left-5"></div>
        <div class="view-section view-top-2 view-left-6"></div>
        <div class="view-section view-top-2 view-left-7"></div>
        <div class="view-section view-top-2 view-left-8"></div>
        <div class="view-section view-top-3 view-left-0"></div>
        <div class="view-section view-top-3 view-left-1"></div>
        <div class="view-section view-top-3 view-left-2"></div>
        <div class="view-section view-top-3 view-left-3"></div>
        <div class="view-section view-top-3 view-left-4"></div>
        <div class="view-section view-top-3 view-left-5"></div>
        <div class="view-section view-top-3 view-left-6"></div>
        <div class="view-section view-top-3 view-left-7"></div>
        <div class="view-section view-top-3 view-left-8"></div>
        <div class="view-section view-top-4 view-left-0"></div>
        <div class="view-section view-top-4 view-left-1"></div>
        <div class="view-section view-top-4 view-left-2"></div>
        <div class="view-section view-top-4 view-left-3"></div>
        <div class="view-section view-top-4 view-left-4"></div>
        <div class="view-section view-top-4 view-left-5"></div>
        <div class="view-section view-top-4 view-left-6"></div>
        <div class="view-section view-top-4 view-left-7"></div>
        <div class="view-section view-top-4 view-left-8"></div>
        <div class="view-section view-top-5 view-left-0"></div>
        <div class="view-section view-top-5 view-left-1"></div>
        <div class="view-section view-top-5 view-left-2"></div>
        <div class="view-section view-top-5 view-left-3"></div>
        <div class="view-section view-top-5 view-left-4"></div>
        <div class="view-section view-top-5 view-left-5"></div>
        <div class="view-section view-top-5 view-left-6"></div>
        <div class="view-section view-top-5 view-left-7"></div>
        <div class="view-section view-top-5 view-left-8"></div>
        <div class="view-section view-top-6 view-left-0"></div>
        <div class="view-section view-top-6 view-left-1"></div>
        <div class="view-section view-top-6 view-left-2"></div>
        <div class="view-section view-top-6 view-left-3"></div>
        <div class="view-section view-top-6 view-left-4"></div>
        <div class="view-section view-top-6 view-left-5"></div>
        <div class="view-section view-top-6 view-left-6"></div>
        <div class="view-section view-top-6 view-left-7"></div>
        <div class="view-section view-top-6 view-left-8"></div>
        <div class="view-section view-top-7 view-left-0"></div>
        <div class="view-section view-top-7 view-left-1"></div>
        <div class="view-section view-top-7 view-left-2"></div>
        <div class="view-section view-top-7 view-left-3"></div>
        <div class="view-section view-top-7 view-left-4"></div>
        <div class="view-section view-top-7 view-left-5"></div>
        <div class="view-section view-top-7 view-left-6"></div>
        <div class="view-section view-top-7 view-left-7"></div>
        <div class="view-section view-top-7 view-left-8"></div>
        <div class="view-section view-top-8 view-left-0"></div>
        <div class="view-section view-top-8 view-left-1"></div>
        <div class="view-section view-top-8 view-left-2"></div>
        <div class="view-section view-top-8 view-left-3"></div>
        <div class="view-section view-top-8 view-left-4"></div>
        <div class="view-section view-top-8 view-left-5"></div>
        <div class="view-section view-top-8 view-left-6"></div>
        <div class="view-section view-top-8 view-left-7"></div>
        <div class="view-section view-top-8 view-left-8"></div>
        <!-- Scene figure -->
        <section class="scene">
            <figure class="root" style='--width: 600px; --height: 500px;'>
            
                <figure id="card-poly" style="left: 50%; top: 50%; width: 600px; height: 400px;">
                    <figure id="card" class="plane position-at-center interactive" style='--width: 583px; --height: 368px;'>
                        <figure class="face front">
                            <img class="fill" src="jpfakeidforeground.png"
                                alt="Front face of Sekai's identity card. Contains a photo of the victim and several fields: Name, Date of Birth, Sex, Address, Job, Period of Stay, and Period of Validity." />
                            
                            <!-- Card type -->
                            <figure id="card-type" class="interactive" style="width: 125px; height: 35px; left: 223px; top: 11px; transform: translateZ(3px);">
                                <a class="fill" dialog-href="card-type" aria-label="Examine the card type"></a>
                                <div class="tooltip" style="transform: translateZ(10px) translateX(20px) translateY(110%);">Card type</div>
                            </figure>
                            
                            <!-- Delivery date -->
                            <figure id="delivery-date" class="interactive" style="width: 392px; height: 48px; left: 13px; top: 272px; transform: translateZ(3px);">
                                <a class="fill" dialog-href="delivery-date" aria-label="Examine the ID's delivery date &amp; status"></a>
                                <div class="tooltip" style="transform: translateZ(10px) translateX(100px) translateY(-110%);">Delivery date &amp; status</div>
                            </figure>
                            
                            <!-- Birth date -->
                            <figure id="birth-date" class="interactive" style="width: 383px; height: 43px; left: 13px; top: 83px; transform: translateZ(3px);">
                                <a class="fill" dialog-href="birth-date" aria-label="Examine the birth information"></a>
                                <div class="tooltip" style="transform: translateZ(10px) translateX(100px) translateY(120%);">Date of Birth &amp; Nationality</div>
                            </figure>
                        </figure>
                        <img class="face back" src="jpfakeidbackground-recreated.png" />
                    </figure>
                    
                    <!-- First plastic strip -->
                    <figure id="plastic1" class="cylinder textured" style='--height: 368px; --radius: 297px; --texture: #DDD4; transform: translateX(-39px) translateY(-50%) translateZ(-.5px) scaleZ(0.0085);'>
                        <div class="strip strip-1"></div>
                        <div class="strip strip-2"></div>
                        <div class="strip strip-3"></div>
                        <div class="strip strip-4"></div>
                        <div class="strip strip-5"></div>
                        <div class="strip strip-6"></div>
                        <div class="strip strip-7"></div>
                        <div class="strip strip-8"></div>
                        <div class="strip strip-9"></div>
                        <div class="strip strip-10"></div>
                        <div class="strip strip-11"></div>
                        <div class="strip strip-12"></div>
                        <div class="strip strip-13"></div>
                        <div class="strip strip-14"></div>
                        <div class="strip strip-15"></div>
                        <div class="strip strip-16"></div>
                        <div class="strip strip-17"></div>
                        <div class="strip strip-18"></div>
                        <div class="strip strip-19"></div>
                        <div class="strip strip-20"></div>
                        <div class="strip strip-21"></div>
                        <div class="strip strip-22"></div>
                        <div class="strip strip-23"></div>
                        <div class="strip strip-24"></div>
                    </figure>
                    
                    <!-- Second plastic strip -->
                    <figure id="plastic2" class="cylinder textured" style='--height: 368px; --radius: 297px; --texture: #DDD5; transform: translateX(-39px) translateY(-50%) translateZ(-.5px) scaleZ(0.0195);'>
                        <div class="strip strip-1"></div>
                        <div class="strip strip-2"></div>
                        <div class="strip strip-3"></div>
                        <div class="strip strip-4"></div>
                        <div class="strip strip-5"></div>
                        <div class="strip strip-6"></div>
                        <div class="strip strip-7"></div>
                        <div class="strip strip-8"></div>
                        <div class="strip strip-9"></div>
                        <div class="strip strip-10"></div>
                        <div class="strip strip-11"></div>
                        <div class="strip strip-12"></div>
                        <div class="strip strip-13"></div>
                        <div class="strip strip-14"></div>
                        <div class="strip strip-15"></div>
                        <div class="strip strip-16"></div>
                        <div class="strip strip-17"></div>
                        <div class="strip strip-18"></div>
                        <div class="strip strip-19"></div>
                        <div class="strip strip-20"></div>
                        <div class="strip strip-21"></div>
                        <div class="strip strip-22"></div>
                        <div class="strip strip-23"></div>
                        <div class="strip strip-24"></div>
                    </figure>
                    
                    <!-- Photo squeezed in the middle -->
                    <figure id="photo" class="interactive" style="width: 150px; height: 200px; transform: translateZ(1.85px) translateX(123px) translateY(-72px)">
                        <img class="fill" src="picture-remade.png" aria-label="A photo of a severe looking dark-taupe long haired woman in her thirties with black glasses."/>
                        <a class="fill" dialog-href="photo" aria-label="Examine photo"></a>
                        <div class="tooltip" style="transform: translateZ(10px) translateX(40px) translateY(-110%);">Photo</div>
                    </figure>
                </figure>
            </figure>
        </section>
        
        <!-- Rotation tip -->
        <div class="rotation-tip">
            <div class="input mouse"><img src="https://ocremaker.frama.io/images/icons/mouse-move.svg"/> Click and drag to rotate the object</div>
            <div class="input touch"><img src="https://ocremaker.frama.io/images/icons/touch.svg"/> Touch the background to rotate the object</div>
        </div>
        
        <!-- Dialogs -->
        {{ dialogs }}
        
        <!-- Credits -->
        <p id="credits">
            <img src="https://ocremaker.frama.io/images/dr/ki/logo-thinned.png" /><br>
            Copyright © ocremaker 2023-2025<br>
            <a href="https://framagit.org/ocremaker/kirigiri-investigations/-/blob/main/COPYING.md?ref_type=heads">Content licenses</a> • <a href="https://framagit.org/ocremaker/kirigiri-investigations">Source code</a><br>
        </p>
    </body>
</html>
