<!DOCTYPE html>
<!--
Kirigiri: Investigations - 3D Truth Bullet Examinations
Copyright (C) 2023-2025  ocremaker

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
    <head>
        <title>Kirigiri: Investigations - Identity Card (Chapter 1)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset='UTF-8'/>
        <!-- Preload -->
        <link rel="preload" href="../sfx/complete.opus" as="audio" />
        <link rel="preload" href="../sfx/treasure.opus" as="audio" />
        <link rel="preload" href="../sfx/dialog.opus" as="audio" />
        <link rel="preload" href="../sfx/select.ogg" as="audio" />
        <link rel="preload" href="../sfx/question.ogg" as="audio" />
        <!-- Scripts & styles -->
        <meta name="ki:modules" content="results,rotate,sfx">
        <script src="../js/main.js" type="module"></script>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body id="idcard3D">
        <!-- States declarations -->
        <div id="cookie"></div>
        <div id="complete"></div>
        
        {{ dialog_anchors }}
        
        <!-- Scene figure -->
        <section class="scene">
            <figure class="root" style='--width: 600px; --height: 500px;'>
            
                <figure id="card-poly" style="left: 50%; top: 50%; width: 600px; height: 400px;">
                    <figure class="card plane position-at-center interactive">
                        <figure class="face front interactive">
                            <img class="fill interactive" src="jpfakeidforeground.png"
                                alt="Front face of Sekai's identity card. Contains a photo of the victim and several fields: Name, Date of Birth, Sex, Address, Job, Period of Stay, and Period of Validity." />
                            
                            <!-- Card type -->
                            <figure id="card-type" class="interactive">
                                <a class="fill" dialog-href="card-type" aria-label="Examine the card type"></a>
                                <div class="tooltip below">Card type</div>
                            </figure>
                            
                            <!-- Delivery date -->
                            <figure id="delivery-date" class="interactive">
                                <a class="fill" dialog-href="delivery-date" aria-label="Examine the ID's delivery date &amp; status"></a>
                                <div class="tooltip above">Delivery date &amp; status</div>
                            </figure>
                            
                            <!-- Birth date -->
                            <figure id="birth-date" class="interactive">
                                <a class="fill" dialog-href="birth-date" aria-label="Examine the birth information"></a>
                                <div class="tooltip below">Date of Birth &amp; Nationality</div>
                            </figure>
                            
                            <!-- Employment -->
                            <figure id="employment" class="interactive">
                                <a class="fill" dialog-href="employment" aria-label="Examine the employment information"></a>
                                <div class="tooltip above">Employment</div>
                            </figure>
                        </figure>
                        <figure class="face back interactive">
                            <img class="fill interactive" src="jpfakeidbackground-recreated.png"
                                alt="Back face of Sekai's identity card. Contains a list of the holder's prior residences, deliverance origin, and a cookie." />
                        </figure>
                    </figure>
                    
                    <!-- First plastic strip -->
                    <figure id="plastic1" class="cuboid rectangular position-at-center">
                        <div class="face front"></div>
                        <div class="face back"></div>
                        <div class="face left"></div>
                        <div class="face right"></div>
                    </figure>
                    
                    <!-- Second plastic strip -->
                    <figure id="plastic2" class="cuboid rectangular position-at-center">
                        <div class="face front"></div>
                        <div class="face back"></div>
                        <div class="face left"></div>
                        <div class="face right"></div>
                    </figure>
                    
                    <!-- Photo squeezed in the middle -->
                    <figure id="photo" class="interactive">
                        <img class="fill" width="1500" height="2000" src="picture-remade.png" alt="A photo of a severe looking dark-taupe long haired woman in her thirties with black glasses."/>
                        <a class="fill" dialog-href="photo" aria-label="Examine photo"></a>
                        <div class="tooltip above">Photo</div>
                    </figure>
                </figure>
            </figure>
            <figure class="root back-links" style='--width: 600px; --height: 500px;'>
                <figure style="left: 50%; top: 50%;">
                    <figure class="card plane position-at-center interactive">
                        <!-- Prior residences -->
                        <figure id="prior-residences" class="interactive">
                            <a class="fill" dialog-href="residences" aria-label="Examine the prior residences"></a>
                            <div class="tooltip above">Prior residences</div>
                        </figure>
                        
                        <!-- Cookie -->
                        <figure id="cookie-reference" class="interactive">
                            <a class="fill" dialog-href="cookie" aria-label="Examine ???"></a>
                            <div class="tooltip below">???</div>
                        </figure>
                    </figure>
                </figure>
            </figure>
        </section>
        
        <!-- Loading information -->
        <div id="loading-status">
            <h1>Loading...</h1>
            <meter min="0"></meter>
            <p>Loading modules...</p>
        </div>
        
        <!-- Rotation tip -->
        <div class="rotation-tip">
            <div class="input mouse"><img src="https://ocremaker.frama.io/images/icons/mouse-move.svg"/> Click and drag to rotate the object</div>
            <div class="input touch"><img src="https://ocremaker.frama.io/images/icons/touch.svg"/> Touch the background to rotate the object</div>
        </div>
        
        <!-- Cookie -->
        <div class="cookie modal">
            <div class="modal-lines">
                <div class="ltr size-1"></div>
                <div class="rtl size-2"></div>
                <div class="rtl size-4"></div>
                <div class="ltr size-3"></div>
                <div class="rtl size-1"></div>
                <div class="ltr size-6"></div>
                <div class="rtl size-2"></div>
                <div class="ltr size-2"></div>
                <div class="ltr size-1"></div>
                <div class="rtl size-1"></div>
            </div>
            <p class="text">🍪 Cookie +1</p>
        </div>
        
        <!-- Investigation results -->
        <div id="investigation-results" title="Current progress of the investigation"></div>
        
        <!-- Investigation complete -->
        <div class="complete modal">
            <div class="modal-lines">
                <div class="ltr size-1"></div>
                <div class="rtl size-2"></div>
                <div class="rtl size-4"></div>
                <div class="ltr size-3"></div>
                <div class="rtl size-1"></div>
                <div class="ltr size-6"></div>
                <div class="rtl size-2"></div>
                <div class="ltr size-2"></div>
                <div class="ltr size-1"></div>
                <div class="rtl size-1"></div>
            </div>
            <span class="text">🔎 Investigation complete!</span>
        </div>
        
        <!-- Dialogs -->
        {{ dialogs }}
        
        <!-- Credits -->
        <p id="credits">
            <img src="https://ocremaker.frama.io/images/dr/ki/logo-thinned.png" /><br>
            Copyright © ocremaker 2023-2025<br>
            <a href="https://framagit.org/ocremaker/kirigiri-investigations/-/blob/main/COPYING.md?ref_type=heads">Content licenses</a> • <a href="https://framagit.org/ocremaker/kirigiri-investigations">Source code</a><br>
        </p>
    </body>
</html>
