<!DOCTYPE html>
<!--
Kirigiri: Investigations - 3D Truth Bullet Examinations
Copyright (C) 2023-2025  ocremaker

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
    <head>
        <title>Kirigiri: Investigations - ll-6 File (Chapter 4)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset='UTF-8'/>
        <!-- Preload -->
        <link rel="preload" href="../sfx/complete.opus" as="audio" />
        <link rel="preload" href="../sfx/treasure.opus" as="audio" />
        <link rel="preload" href="../sfx/dialog.opus" as="audio" />
        <link rel="preload" href="../sfx/select.ogg" as="audio" />
        <link rel="preload" href="../sfx/question.ogg" as="audio" />
        <!-- Scripts & styles -->
        <meta name="ki:modules" content="results,rotate,sfx">
        <script src="../js/main.js" type="module"></script>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body id="file3D">
        <!-- States declarations -->
        <div id="cookie"></div>
        <div id="complete"></div>
        
        {{ dialog_anchors }}
        
        <div id="page1"></div>
        <div id="page2"></div>
        <div id="page3"></div>
        <div id="page4"></div>
        <div id="page5"></div>
        <div id="page6"></div>
        <div id="page7"></div>
        <div id="page8"></div>
        <!-- Scene figure -->
        <section class="scene">
            <figure class="root" style='--width: 500px; --height: 500px;'>
            
                <figure id="file-poly" style="left: 50%; top: 50%; width: 400px; height: 400px;">
                    
                    <figure id="cover" class="cuboid rectangular position-at-center">
                        <img class="face front" src="filecoverlabel.png"/>
                        <img class="face back interactive" src="filecoverempty.png"/>
                        <div class="face left black-bg"></div>
                        <!-- Second back for the cover-->
                        <img class="face back front-back" src="filecoverempty.png"/>
                        
                        <!-- LL6 ID -->
                        <figure id="card-type" class="interactive">
                            <a class="fill" dialog-href="file-name" alt="Examine the file's name"></a>
                            <div class="tooltip above">File's Name</div>
                        </figure>
                    </figure>
                    
                    <figure id="latch" class="cuboid rectangular">
                        <figure class="face front interactive">
                            <img class="fill" src="filecoverhandle.png"/>
                            <a class="fill" href="#page1" alt="Open the file"></a>
                            <div class="tooltip above">Open</div>
                        </figure>
                        <div class="face right black-bg"></div>
                    </figure>
                    
                    <figure id="pages-filler" class="position-at-center">
                        <div class="fill page"></div>
                        <div class="fill page"></div>
                        <div class="fill page"></div>
                        <div class="fill page"></div>
                        <div class="fill page"></div>
                        <div class="fill page"></div>
                        <div class="fill page"></div>
                        <div class="fill page"></div>
                        <div class="fill page"></div>
                    </figure>
                    
                    <figure id="pages" class="position-at-center">
                        <figure id="page-1" class="plane">
                            <div class="face front">
                                <img class="fill" src="pages/page-001.png" alt="First page of the report titled 'Incident Investigation Report', by Dairiten Sîkuretto, of the Public Security Agency on January, 18th 2002" />
                                <a class="fill" dialog-href="first-page" aria-label="Examine first page"></a>
                            </div>
                            <div class="face back page"></div>
                        </figure>
                        <figure id="page-2" class="plane">
                            <div class="face front">
                                <img class="fill" src="pages/page-002.png" />
                                <a class="fill" href="#page3"></a>
                            </div>
                            <div class="face back page"></div>
                        </figure>
                        <figure id="page-3" class="plane">
                            <div class="face front">
                                <img class="fill" src="pages/page-003.png" />
                                <a class="fill" href="#page4"></a>
                            </div>
                            <div class="face back page"></div>
                        </figure>
                        <figure id="page-4" class="plane">
                            <div class="face front">
                                <img class="fill" src="pages/page-004.png" />
                                <a class="fill" href="#page5"></a>
                            </div>
                            <div class="face back page"></div>
                        </figure>
                        <figure id="page-5" class="plane">
                            <div class="face front">
                                <img class="fill" src="pages/page-005.png" />
                                <a class="fill" href="#page6"></a>
                            </div>
                            <div class="face back page"></div>
                        </figure>
                        <figure id="page-6" class="plane">
                            <div class="face front">
                                <img class="fill" src="pages/page-006.png" />
                                <a class="fill" href="#page7"></a>
                            </div>
                            <div class="face back page"></div>
                        </figure>
                        <figure id="page-7" class="plane">
                            <div class="face front">
                                <img class="fill" src="pages/page-007.png" />
                                <a class="fill" href="#page8"></a>
                            </div>
                            <div class="face back page"></div>
                        </figure>
                        <figure id="page-8" class="plane">
                            <div class="face front">
                                <img class="fill" src="pages/page-008.png" />
                                <a class="fill" href="#cookie"></a>
                            </div>
                            <div class="face back page"></div>
                        </figure>
                    </figure>
                </figure>
            </figure>
        </section>
        
        <!-- Loading information -->
        <div id="loading-status">
            <h1>Loading...</h1>
            <meter min="0"></meter>
            <p>Loading modules...</p>
        </div>
        
        <!-- Rotation tip -->
        <div class="rotation-tip">
            <div class="input mouse"><img src="https://ocremaker.frama.io/images/icons/mouse-move.svg"/> Click and drag to rotate the object</div>
            <div class="input touch"><img src="https://ocremaker.frama.io/images/icons/touch.svg"/> Touch the background to rotate the object</div>
        </div>
        
        <!-- Cookie -->
        <div class="cookie modal">
            <div class="modal-lines">
                <div class="ltr size-1"></div>
                <div class="rtl size-2"></div>
                <div class="rtl size-4"></div>
                <div class="ltr size-3"></div>
                <div class="rtl size-1"></div>
                <div class="ltr size-6"></div>
                <div class="rtl size-2"></div>
                <div class="ltr size-2"></div>
                <div class="ltr size-1"></div>
                <div class="rtl size-1"></div>
            </div>
            <p class="text">🍪 Cookie +1</p>
        </div>
        
        <!-- Investigation results -->
        <div id="investigation-results" title="Current progress of the investigation"></div>
        
        <!-- Investigation complete -->
        <div class="complete modal">
            <div class="modal-lines">
                <div class="ltr size-1"></div>
                <div class="rtl size-2"></div>
                <div class="rtl size-4"></div>
                <div class="ltr size-3"></div>
                <div class="rtl size-1"></div>
                <div class="ltr size-6"></div>
                <div class="rtl size-2"></div>
                <div class="ltr size-2"></div>
                <div class="ltr size-1"></div>
                <div class="rtl size-1"></div>
            </div>
            <span class="text">🔎 Investigation complete!</span>
        </div>
        
        <!-- Dialogs -->
        {{ dialogs }}
        
        <!-- Credits -->
        <p id="credits">
            <img src="https://ocremaker.frama.io/images/dr/ki/logo-thinned.png" /><br>
            Copyright © ocremaker 2023-2025<br>
            <a href="https://framagit.org/ocremaker/kirigiri-investigations/-/blob/main/COPYING.md?ref_type=heads">Content licenses</a> • <a href="https://framagit.org/ocremaker/kirigiri-investigations">Source code</a><br>
        </p>
    </body>
</html>
