// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

.clock3D {
    
    // Dialogs
    .focus-handle:target ~ section.scene {
        --rotation-x: -10deg;
        --rotation-y: -15deg;
        --scale: 3;
        --translate-x: 0px;
        --translate-y: 195px;
    }
    
    .focus-clock-hands:target ~ section.scene {
        --rotation-x: -10deg;
        --rotation-y: 25deg;
        --scale: 2;
        --translate-x: 0px;
        --translate-y: -40px;
    }
    
    .focus-seal:target ~ section.scene {
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --scale: 2.5;
        --translate-x: 0px;
        --translate-y: -175px;
    }
    
    .focus-backtext:target ~ section.scene {
        --rotation-x: 0deg;
        --rotation-y: 180deg;
        --scale: 2.5;
        --translate-x: 0px;
        --translate-y: -175px;
    }
    
    .focus-mosaic:target ~ section.scene {
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --scale: 1.5;
        --translate-x: 0px;
        --translate-y: 0px;
    }
    
    .focus-bullet-hole:target ~ section.scene {
        --rotation-x: 0deg;
        --rotation-y: -40deg;
        --scale: 3.5;
        --translate-x: -80px;
        --translate-y: 60px;
    }
    
    .focus-background:target ~ section.scene {
        --rotation-x: 0deg;
        --rotation-y: 20deg;
        --scale: 2.5;
        --translate-x: 0px;
        --translate-y: 0px;
    }
    
    #open:target ~ section.scene,
    .focus-clock-hands:target ~ section.scene,
    .focus-background:target ~ section.scene {
        // Open the clock
        .clock-poly {
            transform: translateZ(21px);
            .clock-top {
                transform: rotateX(180deg) translateY(-2%);
            }
        }
    }
    
    // Styles
    .root {
        --width: 405px; --height: 405px;
    }
    
    .clock-poly {
        left: 50%; top: 50%;
    }
    
    .clock-top, .clock-bottom, #clock {
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }
    
    .top-cover, .bottom-cover  {
        width: 405px; height: 405px;
        border-radius: 50%;
    }
    
    .bottom-text-link {
        top: 70%;
        height: 30%;
        left: 5%;
        width: 90%;
        z-index: 1;
        transform: translateZ(1px);
    }
    
    // Top section
    .clock-top {
        
        .top-cover {
            transform: translateX(-50%) translateY(-50%) translateZ(21px);
            
            #bullet-hole-under {
                transform: translateZ(-4px);
            }
            
            #open-link {
                width: 100%;
                height: 30%;
                z-index: 2;
                transform: translateZ(1px);
            }
            
            #mosaic {
                width: 80%;
                height: 40%;
                z-index: 2;
                margin-top: 30%;
                margin-left: 10%;
                transform: translateZ(1px)
            }
            
            #bullet-hole-link {
                width: 52px;
                height: 60px;
                margin-left: 272px;
                margin-top: 102px;
                transform: translateZ(1px);
                
                & > a.fill {
                    transform: translateZ(1px);
                }
            }
        }
        
        #top-inner {
            width: 395px; height: 395px;
            transform: translateX(-50%) translateY(-50%) translateZ(10px) rotateY(180deg);
            border-radius: 50%;
            background: radial-gradient(#e1b228 50%, black 100%);
        }
        
        #top-bottom-border {
            width: 340px; height: 340px;
            transform: translateX(-50%) translateY(-50%) translateZ(0px) rotateY(180deg);
            border: solid 30px #e1b228;
            border-radius: 50%;
        }
        
        #cylinder-top {
            --height: 20px;
            --radius: 200px;
            --strip-count: 32;
            --texture: url(../Clock/band.png);
            transform: translateX(-20px) translateY(-10px) translateZ(11px) rotateX(-90deg);
        }
        
        #cylinder-top-inner {
            display: none;
            --height: 16px;
            --radius: 180px;
            --strip-count: 32;
            --texture: #e1b228;
        }
    }
    
    #rotation-link {
        --height: 60px;
        --radius: 7px;
        --strip-count: 15;
        --texture: url(../Clock/rotation-link.png);
        transform: rotateZ(90deg) translateX(180px) translateY(5px);
        
        .top {
            background: #e7c63d;
        }
        
        .bottom {
            background: #e3bb31;
        }
    }
    
    #time-setter {
        transform: translateY(-200px) translateZ(-10px);
        
        #link {
            --height: 60px;
            --radius: 10px;
            --strip-count: 8;
            --texture: #D0A320;
            transform: translateY(calc(-1 * var(--height))) translateX(-3px);
            
            & > .top {
                background: #D0A320;
            }
        }
        
        #adjuster {
            --width: 80px;
            --radius: 25px;
            --circle-count: 18;
            transform: translateY(-60px);
            
            & > .circle {
                background-image: radial-gradient(#d0a320 0%, #deb127 65%, #edda4c 76%);
            }
            
            #adjuster-link {
                width: var(--width);
                height: calc(var(--radius)*2);
                transform: translateX(-50%);
            }
        }
    }
    
    .clock-bottom {
        .bottom-cover  {
            transform: translateX(-50%) translateY(-50%) translateZ(-21px) rotateY(180deg);
        }
        
        #clock {
            transform: translateX(-50%) translateY(-50%);
            border-radius: 50%;
            
            #hours {
                font-family: serif;
                font-size: 60px;
                font-weight: bold;
                color: white;
                
                $base-transform: translateX(calc(200px - 50%)) translateY(calc(200px - 150%)) translateZ(10px);
                
                p {
                    position: absolute;
                    line-height: 1em;
                }
                
                @for $i from 0 through 11 {
                    p:nth-child(#{$i+1}) {
                        transform: $base-transform rotateZ(30deg * $i) translateY(-150px) scaleX(0.2);
                    }
                }
            }
            
            #arrows {
                left: 50%;
                top: 50%;
                
                & > .arrow {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: var(--length, 100px) solid white;
                    outline: 2px black;
                    transform: translateZ(10px) translateX(-50%) translateY(-50%) rotateZ(var(--rotation, 30deg)) translateY(-50%);
                    // opacity: 0.8;
                    
                    & > a {
                        width: 20px;
                        height: var(--length);
                        transform: translateX(-50%);
                    }
                    
                    & > .tooltip {
                        transform: rotateZ(calc(var(--rotation) * -1));
                    }
                }
                
                #arrow-link {
                    --height: 12px;
                    --radius: 10px;
                    --strip-count: 8;
                    --texture: black;
                    transform: translateZ(6px) translateX(-20%) translateY(-50%) rotateX(90deg);
        
                    .bottom {
                        background: var(--texture);
                    }
                }
            }
            
            #clock-background {
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                margin: 20px;
                border-radius: 50%;
                z-index: 1;
            }
        }
    
        #cylinder-bottom {
            --height: 20px;
            --radius: 200px;
            --strip-count: 32;
            --texture: url(../Clock/band.png);
            transform: translateX(-20px) translateY(-10px) translateZ(-9px) rotateX(-90deg);
        }
    }
    
    .coating-text {
        & > text {
            font-family: sans-serif;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 10px;
            fill: #e1b42a;
            opacity: 0.7;
            text-shadow: 1px 1px #ffec51, 0 1px #ffec51, 0 -1px #c09d31, -1px 0 #c09d31, -1px -1px #c09d31;
        }
    }
    
    .strip-bottom-border > .strip {
        border-bottom: solid 2px black;
    }
    
    .strip-top-border > .strip, #cylinder-top-inner > .strip {
        border-top: solid 2px black;
    }
    
    // Back links (workaround for chromium not drawing links in the back) See: https://bugs.webkit.org/show_bug.cgi?id=61824
    .back-links {
        // #bottom-text-2 {
        //     transform: translateZ(-42px);
        // }
    }
}
