
.crimescene3D {

    // Display lines
    
    .rotation-tip {
        .first {display: inline;}
        .next {display: none;}
        
        &.dynamic {
            animation-iteration-count: infinite;
        }
    }
    
    [id^="dialog"]:target ~ .rotation-tip.dynamic,
    [id^="dialog"]:target ~ .scene a.fill {
        display: none;
    }
            
    @for $i from 1 through 15 {
        .current-hit-point-#{$i}:target ~ .scene .map .face.front .for-hit-point-#{$i} {
            display: block;
        }
        
        .current-hit-point-#{$i}:target ~ .scene .map .face.front .line.previous-for-hit-point-#{$i} {
            display: block;
            filter: grayscale(1);
        }
        
        .current-hit-point-#{$i}:target ~ .rotation-tip  {
            .first {display: none;}
            .next {display: inline;}
        }
    }
    
    .show-blink-gun:target ~ .scene .map .face.front #reproduction-gun {
        display: block;
    }
    
    // Regular elements
    
    .map {
        --width: 633px;
        --height: 574px;
        opacity: 1;
        transition: opacity 1s;
        
        .face.front {
            // Positioning lines
            [class*="for-hit-point-"] {
                display: none;
            }
            
            .line {
                display: none;
                position: absolute;
                pointer-events: none;
                z-index: 3;
                width: 100%;
                height: 100%;
            }
            
            #reproduction-gun {
                display: none;
                animation: blink 1s linear infinite;
            }
            
            // Positioning links
            #blood {
                width: 73px;
                height: 69px;
                left: 315px;
                top: 306px;
                z-index: 2;
            }
            
            #glasses {
                width: 14px;
                height: 12px;
                left: 311px;
                top: 349px;
                z-index: 3;
            }
            
            #glass-shards {
                width: 18px;
                height: 22px;
                left: 371px;
                top: 316px;
                z-index: 3;
            }
            
            #victim-head {
                width: 28px;
                height: 28px;
                left: 408px;
                top: 259px;
                z-index: 3;
                border-radius: 50%;
            }
            #corpse-head {
                width: 19px;
                height: 22px;
                left: 322px;
                top: 324px;
                z-index: 3;
            }
            #corpse-arm-raised {
                width: 21px;
                height: 39px;
                left: 341px;
                top: 307px;
                z-index: 3;
            }
            #corpse-body {
                width: 50px;
                height: 38px;
                left: 330px;
                top: 346px;
                z-index: 3;
            }
            #corpse-legs {
                width: 56px;
                height: 54px;
                left: 380px;
                top: 350px;
                z-index: 3;
            }
            
            #lamppost-head {
                width: 62px;
                height: 64px;
                left: 377px;
                top: 70px;
                z-index: 2;
                border-radius: 50%;
                
                & > a {
                    border-radius: 50%;
                }
            }
            #lamppost-body {
                width: 28px;
                height: 192px;
                left: 395px;
                top: 134px;
                z-index: 2;
            }
            
            #door {
                width: 52px;
                height: 107px;
                left: 263px;
                top: 157px;
                z-index: 2;
                transform: skewY(15deg);
            }
            
            #pistol {
                width: 22px;
                height: 30px;
                left: 234px;
                top: 286px;
                z-index: 2;
            }
            
            #suspect {
                width: 62px;
                height: 45px;
                left: 145px;
                top: 251px;
                z-index: 2;
            }
            
            #wall-sign {
                width: 59px;
                height: 66px;
                left: 67px;
                top: 97px;
                z-index: 2;
                transform: skewY(-20deg);
            }
            
            #cross-mark {
                width: 15px;
                height: 26px;
                left: 92px;
                top: 165px;
                z-index: 2;
            }
            
            #back-wall {
                width: 146px;
                height: 260px;
                left: 439px;
                top: 200px;
                z-index: 2;
                transform: skewY(-45deg);
                
                & .tooltip {
                    transform: skewY(45deg)
                }
            }
        }
        
        .face.back {
            background: white;
        }
    }
    
    .back-links {
        #cookie-reminder {
            width: 120%;
            height: 40px;
            left: -10%;
            top: 267px;
            z-index: 2;
            transform: rotateZ(30deg);
        }
    }
    
    .clock-poly, #drawing-poly {
        opacity: 0;
        pointer-events: none;
        transition: all 1s;
        transform: translateZ(-30px);
    }
    
    #drawing-poly > figure.plane {
        --width: 633px;
        --height: 403px;
        
        & .face.front img {opacity: 0; transition: opacity .5s;}
    }
    
    // Dialogs
    
    .focus-corpse:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: 20deg;
        --rotation-z: 70deg;
        --scale: 2;
        --translate-y: -80px;
        --translate-x: 45px;
    }
    
    .focus-victim:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --scale: 2;
        --translate-y: -100px;
        --translate-x: -120px;
    }
    
    .focus-backwall:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --scale: 2;
        --translate-y: -100px;
        --translate-x: -150px;
    }
    
    .focus-lamppost:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --scale: 2;
        --translate-y: 150px;
        --translate-x: -90px;
    }
    
    .focus-door:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: -20deg;
        --scale: 2;
        --translate-y: 50px;
        --translate-x: 30px;
    }
    
    .focus-pistol:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: -20deg;
        --scale: 2;
        --translate-y: -20px;
        --translate-x: 70px;
    }
    
    .focus-suspect:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: -20deg;
        --scale: 2;
        --translate-y: 0px;
        --translate-x: 130px;
    }
    
    .focus-sign:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: -20deg;
        --scale: 2;
        --translate-y: 120px;
        --translate-x: 220px;
    }
    
    .focus-note:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: -180deg;
        --rotation-z: 30deg;
        --scale: 1.5;
        --translate-y: 0px;
        --translate-x: 0px;
    }
    
    .focus-clock:target ~ .scene {
        --scale: 1.5;
        --translate-y: 0px;
        --translate-x: 0px;
        
        .map {
            opacity: 0;
        }
        .clock-poly {
            opacity: 1;
        }
    }
    
    .show-drawing-1:target ~ .scene,
    .show-drawing-2:target ~ .scene,
    .show-drawing-3:target ~ .scene, {
        --scale: 1.5;
        --translate-y: 0px;
        --translate-x: 0px;
        
        .map {
            opacity: 0;
        }
        #drawing-poly {
            opacity: 1;
        }
    }
    
    @for $i from 1 through 3 {
        .show-drawing-#{$i}:target ~ .scene #drawing-poly figure.plane .face.front img#drawing-#{$i} {
            opacity: 1;
        }
    }
    
    .show-drawing-back:target ~ .scene {
        --rotation-y: 180deg;
    }
}
