// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

#file3D {
    
    // Regular styles
    .scene {
        #pages-filler, #pages {
            .page {
                outline: solid 1px black;
                background: white;
            }
            
            @for $i from 1 through 9 {
                > :nth-child(#{$i}) {
                    transform: translateZ(10px - (2px * $i))
                }
            }
        }
        
        #latch {
            --width: 165px;
            --length: 111px;
            --depth: 25px;
            transform: translateY(-50px) translateZ(2px);
        }
        
        #cover {
            --width: 323.5px;
            --length: 485px;
            --depth: 20px;
            
            .front-back {
                transform: translateZ(9.9px) rotateY(180deg);
            }
            
            #card-type {
                width: 170px;
                height: 100px;
                left: 145px;
                top: 368px;
            }
        }
        
        #pages-filler {
            width: 310px;
            height: 450px;
            filter: none;
        }
        
        #pages {
            --width: 340px;
            --height: 440px;
            width: var(--width);
            height: var(--height);
    
            // Pages
            @for $i from 1 through 9 {
                #page-#{$i} > .face {
                    transition: opacity 0.2s;
                    opacity: var(--page-#{$i}-opacity, 0);
                    
                    & > a {
                        display: var(--page-#{$i}-display, none);
                    }
                }
            }
        }
        
        .black-bg {
            background: black;
        }
    }
    
    // Dialogs
    [id^="dialog1-"]:target ~ section.scene {
        --rotation-x: -10deg;
        --rotation-y: -15deg;
        --scale: 3;
        --translate-x: -70px;
        --translate-y: -175px;
    }
    
    #dialog2-1:target ~ section.scene {
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --scale: 2.5;
        --translate-x: -70px;
        --translate-y: -175px;
    }
    
    #dialog2-2:target ~ section.scene, #dialog2-3:target ~ section.scene {
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --scale: 2;
        --translate-y: -40px;
    }

    // Showing specific pages
    @for $i from 1 through 9 {
        #page#{$i}:target ~ section.scene {
            // Showing pages
            @for $j from $i through 9 {
                --page-#{$j}-opacity: 1;
                --page-#{$j}-display: block;
            }
        }
    }
    
    [id^="dialog2-"]:target ~ section.scene {
        // Activating all pages for dialog 2.
        @for $j from 1 through 9 {
            --page-#{$j}-opacity: 1;
            --page-#{$j}-display: block;
        }
    }
    
    // Opening book itself
    [id^="page"]:target ~ section.scene, [id^="dialog2-"]:target ~ section.scene {
        & #pages-filler {
            display: none;
        }
        // Opening book
        & #cover > .face {
            &.front {
                transform: translateX(-100%) rotateY(180deg) translateZ(var(--halfdepth));
            }
            
            &.front-back {
                transform: translateX(-100%) translateZ(-9.9px) !important;
            }
            
            &.left {
                transform: rotateY(0deg) translateZ(-10px) translateX(-5px);
            }
        }
        // Opening latch
        & #latch > .face {
            &.front {
                transform: translateX(100%) rotateY(-180deg) translateZ(var(--halfdepth));
                backface-visibility: visible;
                
                & .tooltip {
                    display: none;
                }
            }
            &.right {
                transform: rotateY(-180deg) translateX(calc(10px + (-1 * var(--pwidth)))) translateZ(13px);
            }
        }
    }
    
}
