// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

#glasses3D {
    --rotation-x: -10deg;
    --rotation-y: 30deg;
    // Regular elements
    .root {
        --width: 400px; --height: 400px;
    }
    
    #glasses-poly {
        left: 50%;
        top: 50%;
        width: 356px;
        height: 113px;
        
        
        #glasses {
            --width: 356px;
            --height: 113px;
            transform: translateX(-50%) translateY(-50%) translateZ(150px);
        }
    
        
        #branch1 {
            --width: 320px; --height: 65px;
            transform: rotateY(90deg) translateZ(-335px) translateY(-55px) translateX(10px) scaleY(0.60);
        }
        
        #branch2 {
            --width: 320px; --height: 65px;
            transform: rotateY(90deg) translateZ(17px) translateY(-55px) translateX(10px) scaleY(0.60);
        }
    }
    
    // Dialogs
    
    [id^="dialog"]:target ~ section.scene {
        --rotation-x: -10deg;
        --rotation-y: 30deg;
        --scale: 1.2;
        --translate-x: 0px;
        --translate-y: 0px;
        transition: perspective 3s;
        
        & .root {
            transition: all 3s;
        }
    }
    
    [id^="dialog"].wear:target ~ section.scene {
        --scale: 3;
        --rotation-y: 180deg;
        perspective: 400px;
    }
    
    [id^="dialog"].makoto-wear:target ~ section.scene {
        --scale: 2;
        --rotation-y: 125deg;
        --translate-x: -100vw;
    }
}
