// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

#idcard3D {
    
    // Regular elements
    
    .card {
        --width: 583px;
        --height: 368px;
        
        .face.front {
            #card-type {
                width: 125px;
                height: 35px;
                left: 223px;
                top: 11px;
                z-index: 2;
            }
            
            #delivery-date {
                width: 392px;
                height: 48px;
                left: 13px;
                top: 272px;
                z-index: 2;
            }
            
            #birth-date {
                width: 383px;
                height: 43px;
                left: 13px;
                top: 83px;
                z-index: 2;
            }
            
            #employment {
                width: 396px;
                height: 70px;
                left: 10px;
                top: 164px;
                z-index: 2;
            }
        }
    }
    
    #plastic1 {
        --length: 368px;
        --width: 594px;
        --depth: 6px;
        --radius: 297px;
        
        & > .face {
            background: #BBB6;
        }
        // transform: translateX(-39px) translateY(-50%) translateZ(-.5px) scaleZ(0.0085);
    }
    
    #plastic2 {
        --length: 368px;
        --width: 594px;
        --depth: 16px;
        --radius: 297px;
        
        & > .face {
            background: #DDD5;
        }
        // transform: translateX(-39px) translateY(-50%) translateZ(-.5px) scaleZ(0.0195);
    }
    
    #photo {
        width: 150px;
        height: 200px;
        transform: translateZ(5px) translateX(123px) translateY(-72px);
    }
    
    // Back links (workaround for chromium not drawing links in the back) See: https://bugs.webkit.org/show_bug.cgi?id=61824
    .back-links {
        #prior-residences {
            width: 583px;
            height: 260px;
            left: 0;
            top: 0;
            z-index: 2;
        }
        
        #cookie-reference {
            width: 430px;
            height: 104px;
            left: 0;
            top: 264px;
            z-index: 2;
        }
    }
    
    // Dialogs
    
    .focus-card-type:target ~ .scene {
        --rotation-x: -10deg;
        --rotation-y: 20deg;
        --scale: 3;
        --translate-y: 110px;
    }
    
    .focus-photo:target ~ .scene {
        --rotation-x: 0deg;
        --rotation-y: 0deg;
        --scale: 3;
        --translate-x: -200px;
        --translate-y: -50px;
    }
    
    .focus-delivery-date:target ~ .scene {
        --rotation-x: -10deg;
        --rotation-y: 20deg;
        --scale: 3;
        --translate-y: -150px;
        --translate-x: 120px;
    }
    
    .focus-birth:target ~ .scene {
        --rotation-x: -10deg;
        --rotation-y: 20deg;
        --scale: 3;
        --translate-y: 80px;
        --translate-x: 120px;
    }
    
    .focus-employment:target ~ .scene {
        --rotation-x: -10deg;
        --rotation-y: 20deg;
        --scale: 3;
        --translate-y: -15px;
        --translate-x: 210px;
    }
    
    .focus-residences:target ~ .scene {
        --rotation-x: -10deg;
        --rotation-y: 160deg;
        --scale: 1.5;
        --translate-y: -15px;
        --translate-x: -50px;
    }
    
    .focus-cookie:target ~ .scene {
        --rotation-x: -10deg;
        --rotation-y: 200deg;
        --scale: 2;
        --translate-y: -175px;
        --translate-x: 70px;
    }
}
