// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

.cylinder {
    & > .top {
        width: calc(var(--radius) * 2.2);
        height: calc(var(--radius) * 2.2);
        border-radius: 50%;
        transform: translateX(calc(-50% + calc(var(--radius) / 4))) translateY(-50%) rotateX(90deg);
    }
    
    & > .bottom {
        width: calc(var(--radius) * 2.2);
        height: calc(var(--radius) * 2.2);
        border-radius: 50%;
        transform: translateX(calc(-50% + calc(var(--radius) / 2))) translateY(calc(-50% + var(--height))) rotateX(-90deg);
    }
}
