// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

#smashs {
    left: 50%;
    top: 50%;
    font-size: 3em;
    opacity: 0;
    
    & > .backdrop {
        position: absolute;
        left: -50vw;
        top: -50vh;
        background: #888;
        width: 100vw;
        height: 100vh;
        opacity: 1;
        transform: translateZ(-20px);
    }
    
    & > .smash {
        color: white;
        opacity: 0;
        font-weight: bold;
        --target-x: -16ch;
        --target-y: .6em;
        
        mark {
            background: none;
            transform-style: preserve-3d;
            
            & > span {
                display: inline-block;
                color: #FEB918;
                transform-style: preserve-3d;
                transform: translateX(0) translateY(0) scale(1);
                transition: transform 0s linear 2s;
                opacity: 1;
            }
        }
        
        & > figure {
            opacity: 1;
            display: block;
            width: 30ch;
            filter: drop-shadow(1px 1px #555);
            --transform: translateX(0);
            transform: translateX(-50%) translateY(-50%) var(--transform);
            
            &.bullet {
                --position-x: 50%;
                text-align: center;
                font-size: 1.25em;
                font-weight: bold;
                text-shadow: 2px 2px red, 2px -2px red, -2px 2px red, -2px -2px red;
                transform: translateX(var(--target-x)) translateY(var(--target-y)) rotateY(-45deg) translateX(var(--position-x));
            }
        }
        
        &.left-right {
            height: 2em;
            
            .from-left {
                --transform: translateX(-100vw);
                text-align: right;
            }
            
            .from-right {
                --transform: translateX(100vw) translateY(2em);
                text-align: left;
            }
        }
        
        &.zoom-tremble {
            height: 2em;
            transform: scale(1);
            transition: transform 5s linear;
            text-align: center;
        }
    }
}
        
@for $i from 1 through 6 {
    .show-smash-#{$i}:target ~ .scene > .root {
        perspective: 200px;
        
        & > :not(#smashs) {
            animation: opacityTemporaryFade 5s linear;
        }
        
        & > #smashs {
            opacity: 1;
            $fadeOut: opacity .5s linear;
            
            & > .backdrop {
                opacity: 0;
                transition: $fadeOut 4.25s;
            }
            
            & > .smash:nth-child(#{$i+1}) {
                opacity: 1;
                
                & > figure {
                    opacity: 0;
                    transition: transform 5s cubic-bezier(0.0, 1.0, 0.0, 1.0), $fadeOut 4s;
                    
                    & mark span {
                        opacity: 0;
                        transition: opacity .5s linear calc(3s + calc(1.25 * var(--delay)));
                        animation: letterSmashed 2s cubic-bezier(0.0, 0.7, 0.0, .7) calc(2.5s + var(--delay));
                    }
                }
                
                & > figure.bullet {
                    transition: transform 3s ease-in 1s, $fadeOut 4s;
                    --position-x: -50%;
                }
                
                &.left-right {
                    .from-left {--transform: translateX(0vw);}
                    .from-right {--transform: translateX(0vw) translateY(2em);}
                }
        
                &.zoom-tremble {
                    transform: scale(2);
                    
                    .single {
                        animation: tremblingSmash .5s linear 0s infinite;
                    }
                }
            }
        }
    }
    
    .show-smash-#{$i}:target ~ [data-dialog-branch] > .dr-dialog {
        transition-delay: 5.25s !important;
    }
}

@media (max-width: 600px) {
    #smashs {
        font-size: 2em;
    }
}
