// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

.sphere {
    &.circles {
            // Two parameters: width (x,z), radius (y,z), and circle-count (number of circles, up to 90)
        --r: var(--radius, 20px);
        --cc: var(--circle-count, 24);
        --h: calc(var(--r) * 2);
        --w: var(--width, var(--h));
        --flat-surface: max(0px, calc(var(--w) - var(--h)));
        height: var(--h);
        width: var(--w);
            
        &.debug > .circle {
            border: solid red;
            border-width: 2px 0;
        }
        
        & > .circle {
            // Two parameters: width (x,z), radius (y,z), and strip-count (number of strip, up to 90)
            position: absolute;
            height: var(--h);
            width: var(--w);
            border-radius: var(--r);
                
            @for $i from 1 to 60 {
                &.circle-#{$i} { transform: translateX(-50%) rotateY(calc(($i - 1) * (360deg / var(--cc)))) rotateX(30deg); }
            }
        }
        
        & > .top {
            width: calc(var(--flat-surface));
            height: calc(var(--flat-surface));
            border-radius: 50%;
            transform: translateX(-50%) translateY(-15px) rotateX(90deg);
        }
    }
}

