// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

//
// Allows for all kinds of transforms on the scene.
//

.scene > figure.root {
    transform: scale(var(--scale, 1)) translateX(var(--translate-x, 0)) translateY(var(--translate-y, 0)) translateZ(var(--translate-z, 0)) rotateX(var(--rotation-x, 0deg)) rotateY(var(--rotation-y, 0deg)) rotateZ(var(--rotation-z, 0deg));
    transition: transform .75s ease-out;
}

.scene > figure.back-links { // Workaround for chromium not drawing links in the back. See: https://bugs.webkit.org/show_bug.cgi?id=61824
    transform: scale(var(--scale, 1)) translateX(var(--translate-x, 0)) translateY(var(--translate-y, 0)) translateZ(var(--translate-z, 0)) rotateX(var(--rotation-x, 0deg)) rotateY(calc(180deg + var(--rotation-y, 0deg))) rotateZ(var(--rotation-z, 0deg)) translateZ(1px);
    position: absolute;
    top: 0;
}

body.disable-transform-animation > .scene > figure {
    transition: transform 0s;
}
