<!DOCTYPE html>
<!--
Kirigiri: Investigations - 3D Truth Bullet Examinations
Copyright (C) 2023-2025  ocremaker

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
    <head>
        <title>Kirigiri: Investigations - Pocketwatch (Chapter 1)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset='UTF-8'/>
        <!-- Preload -->
        <link rel="preload" href="../sfx/complete.opus" as="audio" />
        <link rel="preload" href="../sfx/dialog.opus" as="audio" />
        <link rel="preload" href="../sfx/select.ogg" as="audio" />
        <link rel="preload" href="../sfx/question.ogg" as="audio" />
        <link rel="preload" href="../sfx/slam.ogg" as="audio" />
        <!-- Scripts & styles -->
        <meta name="ki:modules" content="results,rotate,sfx">
        <script src="../js/main.js" type="module"></script>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body class="clock3D">
        <!-- States -->
        <div id="open"></div>
        <div id="complete"></div>
        
        {{ dialog_anchors }}
        
        <!-- Scene figure -->
        <section class="scene">
            <figure class="root">
                <figure class="clock-poly">

                    <figure class="clock-top">
                        <figure class="top-cover interactive">
                            <img class="fill" src="coat.png" alt="Golden front face of the pocketwatch with a coat of arms mosaic."/>
                            <svg class="fill coating-text" viewBox="0 0 800 800">
                                <path id="curve" d="m20 400c20 510 740 510 760 0" fill="none"/>
                                    <text width="800">
                                        <textPath alignment-baseline="middle" text-anchor="middle" add startOffset="50%" xlink:href="#curve">
                                            ROYAL FAMILY SEAL · KINGDOM OF NOVOSELIC
                                        </textPath>
                                    </text>
                                <img id="bullet-hole-under" class="fill" src="coat-under.png"/>
                            </svg>
                            <!-- Open clock -->
                            <figure id="open-link" class="interactive">
                                <a class="fill" href="#open" aria-label="Open pocketwatch"></a>
                                <div class="tooltip above">Open</div>
                            </figure>
                            <!-- Mosaic -->
                            <figure id="mosaic" class="interactive">
                                <a class="fill" dialog-href="mosaic" aria-label="Examine mosaic"></a>
                                <div class="tooltip above">Mosaic</div>
                            </figure>
                            <!-- Bottom text -->
                            <figure class="interactive bottom-text-link">
                                <a class="fill" dialog-href="novoselic-seal" aria-label="Examine bottom text"></a>
                                <div class="tooltip below">Bottom Text</div>
                            </figure>
                            <!-- Bullet hole -->
                            <figure id="bullet-hole-link" class="interactive">
                                <a class="fill" dialog-href="bullet-hole" aria-label="Examine hole"></a>
                                <div class="tooltip below">Hole</div>
                            </figure>
                        </figure>
                        <figure id="top-inner"></figure>
                        <figure id="top-bottom-border"></figure>
                    
                        <figure id="cylinder-top" class="cylinder textured strip-bottom-border">
                            <div class="strip  strip-1"></div>
                            <div class="strip  strip-2"></div>
                            <div class="strip  strip-3"></div>
                            <div class="strip  strip-4"></div>
                            <div class="strip  strip-5"></div>
                            <div class="strip  strip-6"></div>
                            <div class="strip  strip-7"></div>
                            <div class="strip  strip-8"></div>
                            <div class="strip  strip-9"></div>
                            <div class="strip strip-10"></div>
                            <div class="strip strip-11"></div>
                            <div class="strip strip-12"></div>
                            <div class="strip strip-13"></div>
                            <div class="strip strip-14"></div>
                            <div class="strip strip-15"></div>
                            <div class="strip strip-16"></div>
                            <div class="strip strip-17"></div>
                            <div class="strip strip-18"></div>
                            <div class="strip strip-19"></div>
                            <div class="strip strip-20"></div>
                            <div class="strip strip-21"></div>
                            <div class="strip strip-22"></div>
                            <div class="strip strip-23"></div>
                            <div class="strip strip-24"></div>
                            <div class="strip strip-25"></div>
                            <div class="strip strip-26"></div>
                            <div class="strip strip-27"></div>
                            <div class="strip strip-28"></div>
                            <div class="strip strip-29"></div>
                            <div class="strip strip-30"></div>
                            <div class="strip strip-31"></div>
                            <div class="strip strip-32"></div>
                        </figure>
                    </figure>
                    
                    <figure id="rotation-link" class="cylinder textured">
                        <div class="strip  strip-1"></div>
                        <div class="strip  strip-2"></div>
                        <div class="strip  strip-3"></div>
                        <div class="strip  strip-4"></div>
                        <div class="strip  strip-5"></div>
                        <div class="strip  strip-6"></div>
                        <div class="strip  strip-7"></div>
                        <div class="strip  strip-8"></div>
                        <div class="strip  strip-9"></div>
                        <div class="strip strip-10"></div>
                        <div class="strip strip-11"></div>
                        <div class="strip strip-12"></div>
                        <div class="strip strip-13"></div>
                        <div class="strip strip-14"></div>
                        <div class="strip strip-15"></div>
                        
                        <figure class="top"></figure>
                        <figure class="bottom"></figure>
                    </figure>
                    
                    <figure id="time-setter">
                        <figure id="link" class="cylinder textured">
                            <div class="strip  strip-1"></div>
                            <div class="strip  strip-2"></div>
                            <div class="strip  strip-3"></div>
                            <div class="strip  strip-4"></div>
                            <div class="strip  strip-5"></div>
                            <div class="strip  strip-6"></div>
                            <div class="strip  strip-7"></div>
                            <div class="strip  strip-8"></div>
                            
                            <figure class="top"></figure>
                        </figure>
                        
                        <figure id="adjuster" class="sphere circles">
                            <figure id="adjuster-link" class="interactive">
                                <a dialog-href="handle" class="fill"></a>
                                <div class="tooltip above">Handle</div>
                            </figure>
                            <div class="circle circle-1 "></div>
                            <div class="circle circle-2 "></div>
                            <div class="circle circle-3 "></div>
                            <div class="circle circle-4 "></div>
                            <div class="circle circle-5 "></div>
                            <div class="circle circle-6 "></div>
                            <div class="circle circle-7 "></div>
                            <div class="circle circle-8 "></div>
                            <div class="circle circle-9 "></div>
                            <div class="circle circle-10"></div>
                            <div class="circle circle-11"></div>
                            <div class="circle circle-12"></div>
                            <div class="circle circle-13"></div>
                            <div class="circle circle-14"></div>
                            <div class="circle circle-15"></div>
                            <div class="circle circle-16"></div>
                            <div class="circle circle-17"></div>
                            <div class="circle circle-18"></div>
                        </figure>
                    </figure>
                    
                    <figure class="clock-bottom">
                        <figure class="bottom-cover interactive">
                            <img class="fill" src="back.png"/>
                            <svg class="fill coating-text" viewBox="0 0 800 800">
                                <path id="curve" d="m20 400c20 510 740 510 760 0" fill="none"/>
                                <text width="800">
                                    <textPath alignment-baseline="middle" text-anchor="middle" add startOffset="50%" xlink:href="#curve">
                                        SONIA NEVERMIND'S #1 HAREM MEMBER
                                    </textPath>
                                </text>
                            </svg>
                        </figure>
                        <figure id="clock" class="interactive">
                            <img class="fill" src="clock.png"/>
                            <div id="hours" class="fill">
                                <p>XII</p>
                                <p>I</p>
                                <p>II</p>
                                <p>III</p>
                                <p>IV</p>
                                <p>V</p>
                                <p>VI</p>
                                <p>VII</p>
                                <p>VIII</p>
                                <p>IX</p>
                                <p>X</p>
                                <p>XI</p>
                            </div>
                            <figure id="arrows" class="fill">
                                <figure id="arrow-link" class="cylinder textured">
                                    <div class="strip strip-1"></div>
                                    <div class="strip strip-2"></div>
                                    <div class="strip strip-3"></div>
                                    <div class="strip strip-4"></div>
                                    <div class="strip strip-5"></div>
                                    <div class="strip strip-6"></div>
                                    <div class="strip strip-7"></div>
                                    <div class="strip strip-8"></div>
                                    <figure class="bottom interactive">
                                        <a dialog-href="hands" class="fill"></a>
                                        <div class="tooltip above">Clock Hands</div>
                                    </figure>
                                </figure>
                                <figure class="arrow interactive" style="--length: 180px; --rotation: 227deg;">
                                    <a dialog-href="hands" class="fill"></a>
                                    <div class="tooltip above">Clock Hands</div>
                                </figure>
                                <figure class="arrow interactive" style="--length: 80px; --rotation: 20deg;">
                                    <a dialog-href="hands" class="fill"></a>
                                    <div class="tooltip above">Clock Hands</div>
                                </figure>
                            </figure>
                            
                            <figure id="clock-background" class="interactive">
                                <a dialog-href="makango" class="fill"></a>
                                <div class="tooltip left">Background</div>
                            </figure>
                        </figure>
                        
                        <figure id="cylinder-bottom" class="cylinder textured strip-top-border">
                            <div class="strip strip-1 "></div>
                            <div class="strip strip-2 "></div>
                            <div class="strip strip-3 "></div>
                            <div class="strip strip-4 "></div>
                            <div class="strip strip-5 "></div>
                            <div class="strip strip-6 "></div>
                            <div class="strip strip-7 "></div>
                            <div class="strip strip-8 "></div>
                            <div class="strip strip-9 "></div>
                            <div class="strip strip-10"></div>
                            <div class="strip strip-11"></div>
                            <div class="strip strip-12"></div>
                            <div class="strip strip-13"></div>
                            <div class="strip strip-14"></div>
                            <div class="strip strip-15"></div>
                            <div class="strip strip-16"></div>
                            <div class="strip strip-17"></div>
                            <div class="strip strip-18"></div>
                            <div class="strip strip-19"></div>
                            <div class="strip strip-20"></div>
                            <div class="strip strip-21"></div>
                            <div class="strip strip-22"></div>
                            <div class="strip strip-23"></div>
                            <div class="strip strip-24"></div>
                            <div class="strip strip-25"></div>
                            <div class="strip strip-26"></div>
                            <div class="strip strip-27"></div>
                            <div class="strip strip-28"></div>
                            <div class="strip strip-29"></div>
                            <div class="strip strip-30"></div>
                            <div class="strip strip-31"></div>
                            <div class="strip strip-32"></div>
                        </figure>
                    </figure>
                </figure>
            </figure>
            <figure class="root back-links">
                <figure class="clock-poly">
                    <!-- Bottom text -->
                    <figure class="clock-top">
                        <figure class="top-cover">
                            <figure id="bottom-text-2" class="interactive bottom-text-link">
                                <a class="fill" dialog-href="back-text" aria-label="Examine bottom text"></a>
                                <div class="tooltip below">Bottom Text 2</div>
                            </figure>
                        </figure>
                    </figure>
                </figure>
            </figure>
        </section>
        
        <!-- Loading information -->
        <div id="loading-status">
            <h1>Loading...</h1>
            <meter min="0"></meter>
            <p>Loading modules...</p>
        </div>
        
        <!-- Rotation tip -->
        <div class="rotation-tip">
            <div class="input mouse"><img src="https://ocremaker.frama.io/images/icons/mouse-move.svg"/> Click and drag to rotate the object</div>
            <div class="input touch"><img src="https://ocremaker.frama.io/images/icons/touch.svg"/> Touch the background to rotate the object</div>
        </div>
        
        <!-- Investigation results -->
        <div id="investigation-results" title="Current progress of the investigation"></div>
        
        <!-- Investigation complete -->
        <div class="complete modal">
            <div class="modal-lines">
                <div class="ltr size-1"></div>
                <div class="rtl size-2"></div>
                <div class="rtl size-4"></div>
                <div class="ltr size-3"></div>
                <div class="rtl size-1"></div>
                <div class="ltr size-6"></div>
                <div class="rtl size-2"></div>
                <div class="ltr size-2"></div>
                <div class="ltr size-1"></div>
                <div class="rtl size-1"></div>
            </div>
            <span class="text">🔎 Investigation complete!</span>
        </div>
        
        <!-- Dialogs -->
        {{ dialogs }}
        
        <!-- Credits -->
        <p id="credits">
            <img src="https://ocremaker.frama.io/images/dr/ki/logo-thinned.png" /><br>
            Copyright © ocremaker 2023-2025<br>
            <a href="https://framagit.org/ocremaker/kirigiri-investigations/-/blob/main/COPYING.md?ref_type=heads">Content licenses</a> • <a href="https://framagit.org/ocremaker/kirigiri-investigations">Source code</a><br>
        </p>
    </body>
</html>


