// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

@media (prefers-reduced-motion) {
    * { // Disable all transition (no more motion)
        transition: none !important;
    }
}

@keyframes nextDialogButtonAnimation {
    0%   {background-position: 0% 50%; }
    50%  {background-position: 100% 50%; }
    100% {background-position: 0% 50%; }
}

@keyframes musicPlayerBgAnimation {
    0%   {background-position: 2px -2px, -2px -2px, -1px -1px, -1px -1px, 0% 0%; }
    50%  {background-position: 2px -2px, -2px -2px, -1px -1px, -1px -1px, 100% 0%; }
    100% {background-position: 2px -2px, -2px -2px, -1px -1px, -1px -1px, 0% 0%; }
}

@keyframes marquee {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-120%);}
}

@keyframes musicPlayerNote {
    0%   {top: 0; transform: rotateZ(0deg) rotateY(0deg);}
    5%   {top: 0; transform: rotateZ(20deg) rotateY(0deg);}
    10%  {top: -10px; transform: rotateZ(0deg) rotateY(180deg);}
    15%  {top: 0; transform: rotateZ(-20deg) rotateY(0deg);}
    20%  {top: 0; transform: rotateZ(0deg) rotateY(0deg);}
}

@keyframes modalFadeInOut {
    0%   { opacity: 0; transform: translateX(-100vw);}  
    10%  { opacity: 1; transform: translateX(0); }
    90%  { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100vw); }
}

@keyframes modalFadeIn {
    0%   { opacity: 0; transform: translateX(-100vw);}  
    10%  { opacity: 1; transform: translateX(0); }
    100%  { opacity: 1; transform: translateX(0); }
}

@keyframes opacityBlink {
    10%  { opacity: 0; }  
    15%  { opacity: 1; }
    85%  { opacity: 1; }
    90%  { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes opacityTemporaryFade {
    0% { opacity: 1; }
    5% { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes trembling {
    00%  { transform: translateX(-10%) translateY(20%); } 
    10%  { transform: translateX(9%)   translateY(-18%); }  
    20%  { transform: translateX(8%)   translateY(16%);  }  
    30%  { transform: translateX(-7%)  translateY(-14%); }
    40%  { transform: translateX(-6%)  translateY(12%);  }
    50%  { transform: translateX(5%)   translateY(-10%); }
    60%  { transform: translateX(4%)   translateY(8%);  }
    70%  { transform: translateX(-3%)  translateY(-6%); }
    80%  { transform: translateX(-2%)  translateY(4%);  }
    90%  { transform: translateX(1%)   translateY(-2%); }
    100% { transform: translateX(0%)   translateY(0%);  }
}

@keyframes tremblingSmash {
    00%  { transform: translateX(-50%) translateY(-50%) translateX(-.5%)  translateY(2.5%); } 
    10%  { transform: translateX(-50%) translateY(-50%) translateX(.5%)   translateY(-2.5%); }  
    20%  { transform: translateX(-50%) translateY(-50%) translateX(.5%)   translateY(2.5%); }  
    30%  { transform: translateX(-50%) translateY(-50%) translateX(-.5%)  translateY(-2.5%); }
    40%  { transform: translateX(-50%) translateY(-50%) translateX(-.5%)  translateY(2.5%); }
    50%  { transform: translateX(-50%) translateY(-50%) translateX(.5%)   translateY(-2.5%); }
    60%  { transform: translateX(-50%) translateY(-50%) translateX(.5%)   translateY(2.5%); }
    70%  { transform: translateX(-50%) translateY(-50%) translateX(-.5%)  translateY(-2.5%); }
    80%  { transform: translateX(-50%) translateY(-50%) translateX(-.5%)  translateY(2.5%); }
    90%  { transform: translateX(-50%) translateY(-50%) translateX(.5%)   translateY(-2.5%); }
    100% { transform: translateX(-50%) translateY(-50%) translateX(-.5%)  translateY(2.5%); } 
}

@keyframes letterSmashed {
    0% {
        transform: translateX(var(--origin-x)) translateY(var(--origin-y)) scale(1) rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: translateX(calc(calc(var(--target-x) + var(--origin-x)) * .66)) translateY(calc(calc(var(--target-y) + var(--origin-y)) * .66)) scale(4) rotateZ(calc(var(--rotation) / 2)) rotateX(var(--tilt-x)) rotateY(var(--tilt-y));
    }
    100% {
        transform: translateX(var(--target-x)) translateY(var(--target-y)) scale(5) rotateZ(var(--rotation)) rotateX(var(--tilt-x)) rotateY(var(--tilt-y));
    }
}
