// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

body {
    background: #888;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100%;
    position: fixed;
    margin: 0;

    &.rotate-enabled {
        cursor: grab;
    }

    &.grabbing {
        cursor: grabbing;
    }

    section.scene {
        position: absolute;
        border: none;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-family: sans-serif;
        perspective: 1500px;
        transition: transform 0s;
        
        .interactive {
            cursor: default;
            user-select: none;
        }
    }
}

@media (max-width: 750px) {
    body section.scene {
        transform: translateY(-50%) translateX(-50%) scale(0.5);
    }
}
