// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

#credits {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-left: 3ch;
    padding-right: 1ch;
    padding-top: .5em;
    font-size: .8em;
    padding-bottom: .25em;
    font-family: sans-serif;
    background: #FFFFFF88;
    color: black;
    border-top-left-radius: 3ch;
    text-align: right;
    
    & > img {
        width: 25ch;
    }
    
    & > a {
        opacity: .8;
    }
}
