// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

$height: 9.5em;
$name-height: 1.7em;
    
.dr-dialog {
    --primary-color: transparent;
    --secondary-color: white;
    --gradient-offset: 20ch;
    --visible: calc(var(--visible-dialog-branch, 0) * var(--visible-dialog-number, 0));
    opacity: var(--visible);
    z-index: calc(4 * var(--visible) - 3);
    position: absolute;
    font-family: sans-serif;
    bottom: 1.5em;
    left: calc(max(-170ch, -90%) * calc(1 - var(--visible)));
    width: min(170ch, 90%);
    transition: opacity 0.1s, left 0.3s;
    border-top-right-radius: $height;
    border-bottom-right-radius: $height;
    height: $height;
    background: linear-gradient(-155deg, var(--primary-color) var(--gradient-offset),
                                    var(--secondary-color) var(--gradient-offset), var(--secondary-color) calc(var(--gradient-offset) + 7px),
                                    var(--primary-color) calc(var(--gradient-offset) + 7px), var(--primary-color) calc(var(--gradient-offset) + 14px),
                                    var(--secondary-color) calc(var(--gradient-offset) + 14px), var(--secondary-color) 100%);
    
    cursor: default;
    
    // Colors
    &.blue   { --primary-color: deepskyblue; } // Makoto
    &.purple { --primary-color: mediumpurple; } // Kyoko
    &.green  { --primary-color: olivedrab; } // Hinata
    &.brown  { --primary-color: chocolate; } // Fuhito
    &.maroon { --primary-color: indianred; } // Payne
    &.gray   { --primary-color: gray; } // Judge
    &.empty  { --primary-color: white; } // For regular text
    
    &.trembling {
        animation: var(--trembling);
    }
    
    &.objection { display: none; }
    
    & > .dr-dialog-name {
        position: absolute;
        height: $name-height;
        transform: scaleY(0.75);
        padding-left: 1ch;
        color: #333;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 100%;
    }
        
    & > .dr-speaking {
        position: absolute;
        height: $name-height;
        right: 5ch;
        transform: scaleY(0.8) scaleX(0.6);
        color: white;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 100%;
        letter-spacing: 4px;
    }
    
    & > .dr-dialog-box {
        height: $height - $name-height - 0.8em;
        margin-top: $name-height;
        padding-left: 3ch;
        padding-top: 1.5ch;
        border-top-right-radius: $height - $name-height - 0.8em;
        border-bottom-right-radius: $height - $name-height - 0.8em;
        background: #333;
        
        & > .dr-dialog-text {
            color: white;
            font-weight: bold;
            font-size: 1.4em;
            width: calc(100% - ($height - $name-height - 0.8em));
            
            &.large {font-size: 2.5em;}
            &.center {text-align: center;}
            
            & mark {
                color: var(--primary-color);
                background: none;
            }
            
            & a {
                color: var(--primary-color);
            }
            
            & .sub {
                font-size: .6em;
            }
        }
        
        & > .dr-dialog-next {
            height: $height - $name-height;
            width: $height - $name-height;
            left: calc(100% - ($height - $name-height));
            top: $name-height;
            position: absolute;
            border-radius: 100%;
            background: linear-gradient(225deg, transparent, transparent 30%, #8585853F, transparent 70%, transparent);
            background-size: 400% 400%;
            animation: nextDialogButtonAnimation 10s ease infinite;
            text-decoration: none;
            
            &::after {
                font-size: 7em;
                color: var(--primary-color);
                opacity: 0.9;
                content: ">";
                line-height: 100%;
                margin-left: .5ch;
            }
        }
    }
}

// Show dialog
@for $i from 1 through 40 {
    [id^="dialog#{$i}-"]:target ~ [data-dialog-branch="#{$i}"]  {
        --visible-dialog-branch: 1;
    }
}

// Show dialog 2
@for $i from 1 through 60 {
    [id$="-#{$i}"]:target ~ [data-dialog-branch] > :nth-child(#{$i})  {
        --visible-dialog-number: 1;
        --trembling: trembling .5s linear;
    }
}

// Add transition to scene
[id^="dialog"]:target ~ section.scene  {
    transition: transform 0.2s;
}
    
@media screen and (max-width: 700px) {
    .dr-dialog {
        --gradient-offset: 9.5ch;
        
        & > .dr-speaking {
            display: none;
        }
        
        & > .dr-dialog-box {
            padding-left: 1.5ch;
            
            & > .dr-dialog-text {
                font-size: 1em;
                width: calc(100% - 2ch);
            }
            
            & > .dr-dialog-next {
                width: 100%;
                border-radius: 0;
                border-top-right-radius: $height - $name-height - 0.8em;
                border-bottom-right-radius: $height - $name-height - 0.8em;
                left: 0;
                
                &::after {
                    opacity: 0;
                    content: "";
                }
            }
        }
    }
}
