// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 


#music-player {
    position: absolute;
    left: -2em;
    top: 0;
    font-size: 1.15em;
    font-family: sans-serif;
    color: white;
    opacity: 0;
    width: min(25em, 100%);
    border-right: solid 1em white;
    border-bottom: solid 1.1em white;
    box-shadow: 0 0 5px black;
    transform: skewX(-20deg);
    transition: opacity 1s;

    &.playing {
        background-image: linear-gradient(rgba(255, 255, 255, .2) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255, 255, 255, .2) 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px),
        linear-gradient(90deg, #206090, #339CC5 45%, #339CC5 55%, #206090);
        background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px, 400% 100%;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px, 0 0;
        animation: musicPlayerBgAnimation 10s ease infinite;

        display: flex;
        flex-direction: column;
        z-index: 10;
        // background: #339cc6;
        border-bottom-right-radius: 1em;
        opacity: 1;

        &::after, &::before {
            content: " ";
            position: absolute;
            display: inline;
            width: 1em;
            height: 4.5em;
            transform: translateX(26.5em);
            border-bottom-right-radius: 1em;
            background: white;
            box-shadow: 0 0 5px black;
        }

        &::after {
            transform: translateX(28em);
        }


        #music-title {
            transform: skewX(20deg);
            margin-top: 1em;
            margin-left: 1em;
            overflow: hidden;

            & > span {
                white-space: nowrap;
                position: relative;
                display: block;
                animation: marquee 10s linear infinite;

                .music-note {
                    font-size: 1.3em;
                    line-height: 1.3rem;
                    vertical-align: middle;
                    display: inline-block;
                    position: relative;
                    animation: musicPlayerNote 10s linear infinite;
                    animation-delay: 1s;
                }
            }
        }
    }

    #music-controls {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 5px;
        height: 1em;
        background: white;
        padding-left: 3.7em;
        top: 1em;
        max-width: calc(100% - 3.7em);


        button, a {
            color: white;
            opacity: .9;
            transition: opacity .1s ease-in;
            background-color: #333333;
            line-height: .1em;
            margin-top: .1em;
            padding-inline: .7em;
            border: none;
            border-radius: .3em;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            & > svg {
                // Unskew text
                display: inline-block;
                transform: skewX(20deg);
            }
        }

        .separator {
            width: 1px;
            height: 107%;
            background: gray;
            margin-inline: .9em;
        }

        label {
            line-height: 1em;
            margin-top: .05em;
            transform: skewX(20deg);
        }

        #volume-slider {
            flex-basis: 120px;
            width: 10px;
            flex-shrink: 2;
            transform: skewX(20deg);
        }

        #music-playpause {
            width: 2.7em;
            font-weight: bold;

            .icon-pause {display: none;}
            &.play {
                .icon-pause {display: inline-block;}
                .icon-play {display: none;}
            }
        }

        #music-link-external {
            display: inline;
            text-align: center;
            flex-grow: 1;
            line-height: .7em;
            border-radius: .2em;
        }
    }
}

#investigation-results {
    position: absolute;
    right: 0;
    top: 0;
    width: max-content;
    padding: .5em;
    font-size: 1.3em;
    font-family: sans-serif;
    color: white;
}


@media (max-width: 500px) {
    #music-player.playing {
        font-size: 1rem;

        &::after, &::before {
            display: none;
        }

        label {display: none}
    }
}
