// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

#loading-status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 20;
    transition: opacity 1s;
    transition-delay: 1s;
    background: #888;
    font-family: 'Platform Eight', sans-serif;
    pointer-events: none;
    font-size: 2em;
    position: absolute;
    
    h1, p {
        color: white;
        text-align: center;
        opacity: 0;
        transition: opacity 1s;
    }
    
    p::first-letter {
        text-transform: capitalize;
    }
    
    meter {
        display: block;
        width: 90%;
        max-width: 40ch;
        opacity: 0;
        transition: opacity 1s;
    }
}

.loading {
    // only active when the body has the loading class, when the JS modules are loading 
    .scene, .dr-dialog {opacity: 0; z-index: -20; transition: opacity 1s;}
    
    #loading-status {
        opacity: 1;
        pointer-events: auto;
        
        h1, p, meter {opacity: 1;}
    }
}
