// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

@use 'sass:math';

$duration: 5s;
$duration-objection: 2s;

.modal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 8em;
    z-index: 5;
    top: calc(50vh - 2.5em);
    pointer-events: none;
    
    .text {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        text-align: center;
        font-size: 4em;
        line-height: 2em;
        opacity: 0;
        font-family: 'Platform Eight', sans-serif;
        background: radial-gradient(#fff6 40%, transparent 70%);
        text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white;
    }
    
    &.cookie {
        --primary-color: cyan;
        --secondary-color: purple;
    }
    
    &.start {
        --primary-color: orange;
        --secondary-color: cyan;
    }
    
    &.complete, &.finish {
        --primary-color: mediumpurple;
        --secondary-color: cyan;
    }
    
    &.objection {
        font-size: 2em;
        
        &.kyoko, &.fuhito {
            --primary-color: mediumpurple;
            --secondary-color: chocolate;
        }
        &.hinata, &.auchi {
            --primary-color: olivedrab;
            --secondary-color: indianred;
        }
    }
    
    .modal-lines {
        opacity: 0.5;
        
        & > div {
            width: 100vw;
            animation-duration: $duration;
            animation-timing-function: cubic-bezier(0.1,1,0.9,0);
            animation-iteration-count: 1;
            margin-bottom: .25em;
            opacity: 0;
            
            &.ltr {
                background: var(--primary-color);
                animation-direction: normal;
            }
            
            &.rtl {
                background: var(--secondary-color);
                animation-direction: reverse;
            }
            
            @for $i from 1 through 6 {
                &.size-#{$i} {
                    height: .2em * $i;
                    animation-delay: 0.2s - .035s * $i;
                    $bright-offset: - math.div($i, 7)*math.div($i, 7) + math.div($i, 7);
                    margin-bottom: $bright-offset * 2em;
                    filter: brightness(1 - $bright-offset);
                }
            }
        }
    }
    
    // Activate
    #cookie:target ~ &.cookie,
    #complete:target ~ &.complete,
    .show-start-modal:target ~ &.start {
        display: block;
        
        .text {
            animation: opacityBlink $duration linear 1;
            display: block;
        }
        
        .modal-lines > div {
            animation-name: modalFadeInOut;
        }
    }
    
    .objection-kyoko:target ~ &.objection.kyoko,
    .objection-fuhito:target ~ &.objection.fuhito,
    .objection-hinata:target ~ &.objection.hinata,
    .objection-auchi:target ~ &.objection.auchi {
        display: block;
        
        .text {
            animation: opacityBlink $duration-objection linear 1;
            display: block;
        }
        
        .modal-lines > div {
            animation-name: modalFadeInOut;
        }
    }
    
    #complete:target ~ &.finish {
        display: block;
        
        .text {
            animation: opacityBlink $duration linear infinite;
            display: block;
        }
        
        .modal-lines > div {
            animation-name: modalFadeIn;
            opacity: 1;
            transform: translateX(0);
        }
    }
}


    
@media screen and (max-width: 700px) {
    #complete:target ~ .modal.complete > .text,
    #complete:target ~ .modal.finish > .text,
    .show-start-modal:target ~ .modal.start > .text,
    .objection-kyoko:target ~ .modal.objection.kyoko > .text,
    .objection-fuhito:target ~ .modal.objection.fuhito > .text,
    .objection-hinata:target ~ .modal.objection.hinata > .text,
    .objection-auchi:target ~ .modal.objection.auchi  > .text {
        height: auto;
        font-size: 3em;
        line-height: 1em;
    }
    #cookie:target ~ .modal.cookie > .text {
        height: auto;
        font-size: 3em;
        line-height: 1em;
    }
}
