// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

$background: #333;

.prompt {
    position: absolute;
    z-index: 10;
    --width: min(70ch, 90%);
    width: var(--width);
    height: auto;
    left: calc(50% - calc(var(--width) / 2));
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    pointer-events: none;
    opacity: 0;
    background: $background;
    transition: all 1s;
    box-shadow: black 0 5px 20px;
    cursor: default;
    z-index: -1;
    
    &:target {
        opacity: 1;
        pointer-events: auto;
        z-index: 1;
        
        &:before, &:after {
            margin-left: 0;
        }
        
        .prompt-statement, .prompt-description, .prompt-continue, .bullet-list .bullet {
            opacity: 1;
        }
        
        .prompt-title {
            top: -1.4em;
            margin-left: 0;
            max-width: 20ch;
            border-right: 40px solid transparent;
            border-bottom: 1.5em solid white;
            padding-left: 2ch;
            padding-right: 1.5ch;
            color: $background;
            
            .prompt-title-inner {
                transform: skewY(12.5deg) rotateZ(-12.5deg);
                display: block;
                text-transform: uppercase;
            }
        }
    }
    
    &:before, &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 5px;
        background: white;
        transition: all 1s;
        opacity: 1;
    }
    
    &:before {margin-left: -100%;}
    &:after {margin-left: 100%;}
    
    .prompt-title {
        position: absolute;
        top: 0;
        margin-left: -100%;
        max-width: 5px;
        width: auto;
        font-size: 2.5em;
        height: 0;
        border-bottom: 0 solid white;
        border-right: 0 solid transparent;
        line-height: 1.5em;
        padding-left: 0;
        padding-right: 0;
        color: transparent;
        white-space: nowrap;
        text-overflow: clip;
        $first-transitions: margin-left 1s linear 0s, top .25s linear 1s, border-bottom .25s linear 1s;
        $next-transitions: max-width .5s linear 1.25s, border-right .5s linear 1.25s, padding-left .5s linear 1.25s, padding-right .25s linear 1.25s, color .25s linear 1.75s;
        transition: $first-transitions, $next-transitions;
        
        font-family: 'Platform Eight', sans-serif;
    }
    
    .prompt-statement {
        width: calc(100% - 2em);
        margin: auto;
        text-align: center;
        padding: 1em;
        font-size: 1.8em;
        letter-spacing: .1ch;
        color: white;
        font-weight: bold;
        opacity: 0;
        transition: all 1s linear 2s;
        filter: drop-shadow(1px 1px black);
        
        & mark {
            background: linear-gradient(#FEE015, #FF8C18);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    
    .bullet-list {
        width: min(325px, calc(100% - 2em));
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
            
        .bullet {
            display: block;
            $height: 65px;
            height: $height;
            background-image: url("https://ocremaker.frama.io/images/dr/bullet/large-gray.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            color: black;
            text-align: center;
            line-height: $height;
            text-decoration: none;
            font-size: 1.2em;
            opacity: 0;
            
            &.pressed {
                margin-left: calc(50vw + var(--width));
            }
        }
    }
        
    &.prompt-pick {
        top: 10em;
        
        & > .bullet-list > .bullet {
            &:hover, &:focus {
                margin-left: 1em;
                margin-right: -1em;
            }
        
            @for $i from 0 through 6 {
                &:nth-child(#{$i+1}) {
                    transition: opacity 1s linear .5s*$i+2.75s, margin-left .2s, margin-right .2s;
                }
            }
        }
    }
    
    &.prompt-new-bullet {
        top: calc(50vh - 8em);
        
        & > .bullet-list {
            margin-top: 2em;
            
            & > .bullet {
                transition: opacity 1s linear 2s;
                background-image: url("https://ocremaker.frama.io/images/dr/bullet/large.png");
            }
        }
    }
    
    .prompt-description {
        color: white;
        width: calc(100% - 2em);
        margin: 0;
        padding-left: 1em;
        padding-right: 1em;
        opacity: 0;
        font-size: 1.1em;
        transition: opacity 1s linear 2.5s;
    }
    
    .prompt-continue {
        opacity: 0;
        margin: auto;
        width: 30ch;
        max-width: calc(100% - 2em);
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 1.2em;
        line-height: 2em;
        border-radius: 1em;
        margin-top: 2em;
        margin-bottom: 1em;
        box-shadow: 0 0 5px #555;
        background: linear-gradient(225deg, transparent, transparent 30%, #8585853F, transparent 70%, transparent);
        background-size: 400% 400%;
        animation: nextDialogButtonAnimation 10s ease infinite;
        transition: opacity 1s linear 3s;
    }
}

@media (max-width: 750px) {
    .prompt {
        &.prompt-pick {
            top: 4em;
        }
        
        .prompt-title {
            font-size: 2rem;
        }
        
        .prompt-statement {
            font-size: 1.3rem;
        }
    }
}
