// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

.rotation-tip {
    display: block;
    position: absolute;
    bottom: 5vh;
    opacity: 0;
    pointer-events: none;
    animation-name: blink;
    animation-duration: 4s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    z-index: 1;
    
    & > .input {
        display: none;
        font-family: sans-serif;
        font-size: 3em;
        width: 100vw;
        text-align: center;
        
        & > img {
            width: 1em;
            height: 1em;
        }
    }
    
    :target ~ & {
        animation-iteration-count: 1;
    }
}

.view-section {
    display: none;
}

@media (pointer: fine) {
    .input.mouse {
        display: block;
    }
    
}

@media (pointer: coarse) {
    .rotation-tip {
        .input.touch {
            display: block;
            font-size: 2em;
        }
        
        :hover ~ & {
            animation-iteration-count: 1;
        }
    }
}

@keyframes blink {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
