// 
// Kirigiri: Investigations - 3D Truth Bullet Examinations
// Copyright (C) 2023-2025  ocremaker
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
// 

.tooltip {
    width: max-content !important;
    
    &.above {
        position: absolute;
        left: 50%;
        transform: translateZ(10px) translateX(-50%) translateY(-110%);
    }
    
    &.below {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateZ(10px) translateX(-50%) translateY(10%);
    }
    
    &.left {
        position: absolute;
        top: 50%;
        transform: translateZ(10px) translateX(-110%) translateY(-50%);
    }
}

// Disable tooltips when a dialog is displayed
[id^="dialog"]:not(.show-tooltips):target ~ section.scene {
    .tooltip {
        opacity: 0 !important;
    }
}
