<!DOCTYPE html>
<!--
Kirigiri: Investigations - 3D Truth Bullet Examinations
Copyright (C) 2023-2025  ocremaker

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
<head>
    <title>Kirigiri: Investigations - Reproducing the Murder (Chapter 4)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='UTF-8'/>
    <!-- Scripts & styles -->
    <meta name="ki:modules" content="results,drag,music,sfx,voice,smash">
    <script src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="crimescene3D clock3D loading">
<!-- States declarations -->
<div id="complete"></div>
<div id="select-bullet1" class="show-start-modal"></div>
<div id="select-bullet2" class="show-start-modal current-hit-point-1"></div>
<div id="select-bullet3" class="show-start-modal current-hit-point-2"></div>
<div id="select-bullet4" class="show-start-modal current-hit-point-3"></div>
<div id="select-bullet5" class="show-start-modal current-hit-point-4"></div>

{{ dialog_anchors }}

<!-- Scene figure -->
<section class="scene">
    <figure class="root" style='--width: 640px; --height: 575px;'>

        <figure id="map-poly" style="left: 50%; top: 50%; width: 640px; height: 580px;">
            <figure class="map plane position-at-center">
                <figure class="face front">
                    <img class="fill" src="reproduction.jpg"
                         alt="A handdrawn isometric sketch of the crime scene drawn with crude lines. The shape of the alleyway's bottom seem to match a horizontally mirrored L with the alleyway exiting orthogonally to the smaller line. Near the L's corner, a silhouette of a person holding a gun in their right hand is drawn under a lamppost. In front of them, at the end of the larger line of the L, a silhouette of the sat down suspect is also drawn. Next to those, on the wall, a rectangular door is drawn. And behind the suspect, a small sign is detailed on the wall, with a cross drawn just under it."/>

                    <!-- Victim's head -->
                    <figure id="victim-head" class="interactive">
                        <figure class="fill interactive">
                            <a class="fill" dialog-href="first-bullet-head" aria-label="Pick the victim's head"></a>
                            <div class="tooltip left">Victim's head</div>
                        </figure>
                        <figure class="fill interactive for-hit-point-1">
                            <a class="fill" dialog-href="second-bullet-head" aria-label="Pick the victim's head"></a>
                            <div class="tooltip left">Victim's head</div>
                        </figure>
                        <figure class="fill interactive for-hit-point-4">
                            <a class="fill" dialog-href="fifth-bullet-head" aria-label="Pick the victim's head"></a>
                            <div class="tooltip left">Victim's head</div>
                        </figure>
                    </figure>

                    <!-- Lamp post -->
                    <figure id="lamppost-head" class="interactive">
                        <figure class="fill interactive">
                            <a class="fill" dialog-href="first-bullet-lamppost" aria-label="Pick the lamppost"></a>
                            <div class="tooltip left">Lamppost</div>
                        </figure>
                        <figure class="fill interactive for-hit-point-1">
                            <a class="fill" dialog-href="second-bullet-lamppost" aria-label="Pick the lamppost"></a>
                            <div class="tooltip left">Lamppost</div>
                        </figure>
                    </figure>

                    <!-- Door -->
                    <figure id="door" class="interactive">
                        <figure class="fill interactive">
                            <a class="fill" dialog-href="first-bullet-door" aria-label="Pick the door"></a>
                            <div class="tooltip above">Door</div>
                        </figure>
                        <figure class="fill interactive for-hit-point-1">
                            <a class="fill" dialog-href="second-bullet-door" aria-label="Pick the door"></a>
                            <div class="tooltip above">Door</div>
                        </figure>
                    </figure>

                    <!-- Suspect's position -->
                    <figure id="suspect" class="interactive">
                        <figure class="fill interactive">
                            <a class="fill" dialog-href="first-bullet-defendant" aria-label="Pick the defendant's body"></a>
                            <div class="tooltip above">Defendant's body</div>
                        </figure>
                    </figure>

                    <!-- Sign -->
                    <figure id="wall-sign" class="interactive">
                        <figure class="fill interactive">
                            <a class="fill" dialog-href="first-bullet-sign" aria-label="Pick the sign on the wall"></a>
                            <div class="tooltip above">Sign</div>
                        </figure>
                        <figure class="fill interactive for-hit-point-2">
                            <a class="fill" dialog-href="third-bullet-sign" aria-label="Pick the sign on the wall"></a>
                            <div class="tooltip above">Sign</div>
                        </figure>
                    </figure>

                    <!-- Mark for where the second bullet is -->
                    <figure id="cross-mark" class="interactive">
                        <figure class="fill interactive">
                            <a class="fill" dialog-href="first-bullet-cross-mark" aria-label="Pick the cross mark on the wall"></a>
                            <div class="tooltip below">Cross mark</div>
                        </figure>
                    </figure>

                    <!-- Mark for where the second bullet is -->
                    <figure id="back-wall" class="interactive">
                        <figure class="fill interactive">
                            <a class="fill" dialog-href="first-bullet-back-wall" aria-label="Pick the wall to the victim's back"></a>
                            <div class="tooltip below">Wall</div>
                        </figure>
                        <figure class="fill interactive for-hit-point-3">
                            <a class="fill" dialog-href="fourth-bullet-back-wall" aria-label="Pick the wall to the victim's back"></a>
                            <div class="tooltip below">Wall</div>
                        </figure>
                    </figure>

                    <!-- Lines -->
                    <img src="reproduction-gun.png" class="fill" id="reproduction-gun" alt="Blinking gun in the victim's hands">
                    <img src="bulletlines/1.png" alt=""
                         class="line for-hit-point-1 previous-for-hit-point-2 previous-for-hit-point-3 previous-for-hit-point-4 previous-for-hit-point-5">
                    <img src="bulletlines/2.png" alt=""
                         class="line for-hit-point-2 previous-for-hit-point-3 previous-for-hit-point-4 previous-for-hit-point-5">
                    <img src="bulletlines/3.png" alt=""
                         class="line for-hit-point-3 previous-for-hit-point-4 previous-for-hit-point-5">
                    <img src="bulletlines/4.png" class="line for-hit-point-4 previous-for-hit-point-5" alt="">
                    <img src="bulletlines/5.png" class="line for-hit-point-5" alt="">
                </figure>
            </figure>
        </figure>

        <figure id="clock-poly" style="left: 50%; top: 50%;">
            <figure class="clock-top">
                <figure class="top-cover interactive">
                    <img class="fill" src="../Clock/coat.png"
                         alt="Golden front face of the pocketwatch with a coat of arms mosaic."/>
                    <svg class="fill coating-text" viewBox="0 0 800 800">
                        <path id="curve" d="m20 400c20 510 740 510 760 0" fill="none"/>
                        <text width="800">
                            <textPath alignment-baseline="middle" text-anchor="middle" add startOffset="50%"
                                      xlink:href="#curve">
                                ROYAL FAMILY SEAL · KINGDOM OF NOVOSELIC
                            </textPath>
                        </text>
                        <img id="bullet-hole-under" class="fill" src="../Clock/coat-under.png"/>
                    </svg>
                </figure>
                <figure id="top-inner"></figure>
                <figure id="top-bottom-border"></figure>

                <figure id="cylinder-top" class="cylinder textured strip-bottom-border">
                    <div class="strip  strip-1"></div>
                    <div class="strip  strip-2"></div>
                    <div class="strip  strip-3"></div>
                    <div class="strip  strip-4"></div>
                    <div class="strip  strip-5"></div>
                    <div class="strip  strip-6"></div>
                    <div class="strip  strip-7"></div>
                    <div class="strip  strip-8"></div>
                    <div class="strip  strip-9"></div>
                    <div class="strip strip-10"></div>
                    <div class="strip strip-11"></div>
                    <div class="strip strip-12"></div>
                    <div class="strip strip-13"></div>
                    <div class="strip strip-14"></div>
                    <div class="strip strip-15"></div>
                    <div class="strip strip-16"></div>
                    <div class="strip strip-17"></div>
                    <div class="strip strip-18"></div>
                    <div class="strip strip-19"></div>
                    <div class="strip strip-20"></div>
                    <div class="strip strip-21"></div>
                    <div class="strip strip-22"></div>
                    <div class="strip strip-23"></div>
                    <div class="strip strip-24"></div>
                    <div class="strip strip-25"></div>
                    <div class="strip strip-26"></div>
                    <div class="strip strip-27"></div>
                    <div class="strip strip-28"></div>
                    <div class="strip strip-29"></div>
                    <div class="strip strip-30"></div>
                    <div class="strip strip-31"></div>
                    <div class="strip strip-32"></div>
                </figure>
            </figure>

            <figure id="rotation-link" class="cylinder textured">
                <div class="strip  strip-1"></div>
                <div class="strip  strip-2"></div>
                <div class="strip  strip-3"></div>
                <div class="strip  strip-4"></div>
                <div class="strip  strip-5"></div>
                <div class="strip  strip-6"></div>
                <div class="strip  strip-7"></div>
                <div class="strip  strip-8"></div>
                <div class="strip  strip-9"></div>
                <div class="strip strip-10"></div>
                <div class="strip strip-11"></div>
                <div class="strip strip-12"></div>
                <div class="strip strip-13"></div>
                <div class="strip strip-14"></div>
                <div class="strip strip-15"></div>

                <figure class="top"></figure>
                <figure class="bottom"></figure>
            </figure>

            <figure id="time-setter">
                <figure id="link" class="cylinder textured">
                    <div class="strip  strip-1"></div>
                    <div class="strip  strip-2"></div>
                    <div class="strip  strip-3"></div>
                    <div class="strip  strip-4"></div>
                    <div class="strip  strip-5"></div>
                    <div class="strip  strip-6"></div>
                    <div class="strip  strip-7"></div>
                    <div class="strip  strip-8"></div>

                    <figure class="top"></figure>
                </figure>

                <figure id="adjuster" class="sphere circles">
                    <div class="circle circle-1 "></div>
                    <div class="circle circle-2 "></div>
                    <div class="circle circle-3 "></div>
                    <div class="circle circle-4 "></div>
                    <div class="circle circle-5 "></div>
                    <div class="circle circle-6 "></div>
                    <div class="circle circle-7 "></div>
                    <div class="circle circle-8 "></div>
                    <div class="circle circle-9 "></div>
                    <div class="circle circle-10"></div>
                    <div class="circle circle-11"></div>
                    <div class="circle circle-12"></div>
                    <div class="circle circle-13"></div>
                    <div class="circle circle-14"></div>
                    <div class="circle circle-15"></div>
                    <div class="circle circle-16"></div>
                    <div class="circle circle-17"></div>
                    <div class="circle circle-18"></div>
                </figure>
            </figure>

            <figure class="clock-bottom">
                <figure class="bottom-cover interactive">
                    <img class="fill" src="../Clock/back.png"/>
                    <svg class="fill coating-text" viewBox="0 0 800 800">
                        <path id="curve" d="m20 400c20 510 740 510 760 0" fill="none"/>
                        <text width="800">
                            <textPath alignment-baseline="middle" text-anchor="middle" add startOffset="50%"
                                      xlink:href="#curve">
                                SONIA NEVERMIND'S #1 HAREM MEMBER
                            </textPath>
                        </text>
                    </svg>
                </figure>

                <figure id="cylinder-bottom" class="cylinder textured strip-top-border">
                    <div class="strip strip-1 "></div>
                    <div class="strip strip-2 "></div>
                    <div class="strip strip-3 "></div>
                    <div class="strip strip-4 "></div>
                    <div class="strip strip-5 "></div>
                    <div class="strip strip-6 "></div>
                    <div class="strip strip-7 "></div>
                    <div class="strip strip-8 "></div>
                    <div class="strip strip-9 "></div>
                    <div class="strip strip-10"></div>
                    <div class="strip strip-11"></div>
                    <div class="strip strip-12"></div>
                    <div class="strip strip-13"></div>
                    <div class="strip strip-14"></div>
                    <div class="strip strip-15"></div>
                    <div class="strip strip-16"></div>
                    <div class="strip strip-17"></div>
                    <div class="strip strip-18"></div>
                    <div class="strip strip-19"></div>
                    <div class="strip strip-20"></div>
                    <div class="strip strip-21"></div>
                    <div class="strip strip-22"></div>
                    <div class="strip strip-23"></div>
                    <div class="strip strip-24"></div>
                    <div class="strip strip-25"></div>
                    <div class="strip strip-26"></div>
                    <div class="strip strip-27"></div>
                    <div class="strip strip-28"></div>
                    <div class="strip strip-29"></div>
                    <div class="strip strip-30"></div>
                    <div class="strip strip-31"></div>
                    <div class="strip strip-32"></div>
                </figure>
            </figure>
        </figure>

        <figure id="drawing-poly" style="left: 50%; top: 50%; width: 640px; height: 580px;">
            <figure class="plane position-at-center">
                <figure class="face front">
                    <img id="drawing-1" class="fill" loading="lazy" src="gunshot-1.jpg"
                         alt="The drawing from last chapter which features a small person shootiing a taller one, with the trajectory of the bullet drawn to represent the fact that it would have come out at the top of the head."/>

                    <img id="drawing-2" class="fill" loading="lazy" src="gunshot-2.jpg"
                         alt="A topdown view drawing representing the lamp, the sign, and the defendant and victim's heads in the alleyway with the walls surrounding it. The drawing features the trajectory of the bullet from the lamp to the sign."/>

                    <img id="drawing-3" class="fill" loading="lazy" src="gunshot-3.jpg"
                         alt="The same as before, except the drawing now features the diagonal trajectory from the sign to the victim."/>
                </figure>
                <figure class="face back">
                    <img class="fill" loading="lazy" src="empty-back.jpg"
                         alt="The same as before, except the drawing now features the diagonal trajectory from the sign to the victim."/>
                </figure>
            </figure>
        </figure>

        <figure id="smashs">
            <figure class="backdrop"></figure>
            {{ smashs }}
        </figure>
    </figure>
</section>

<!-- Loading information -->
<div id="loading-status">
    <h1>Loading...</h1>
    <meter min="0"></meter>
    <p>Loading modules...</p>
</div>

<!-- Investigation complete -->
<div class="start modal">
    <div class="modal-lines">
        <div class="ltr size-1"></div>
        <div class="rtl size-2"></div>
        <div class="rtl size-4"></div>
        <div class="ltr size-3"></div>
        <div class="rtl size-1"></div>
        <div class="ltr size-6"></div>
        <div class="rtl size-2"></div>
        <div class="ltr size-2"></div>
        <div class="ltr size-1"></div>
        <div class="rtl size-1"></div>
    </div>
    <span class="text">💡 Deduction: START!</span>
</div>

<!-- Kyoko objection modal -->
<div class="objection kyoko modal">
    <div class="modal-lines">
        <div class="ltr size-1"></div>
        <div class="ltr size-2"></div>
        <div class="ltr size-4"></div>
        <div class="ltr size-3"></div>
        <div class="ltr size-1"></div>
        <div class="ltr size-6"></div>
        <div class="ltr size-2"></div>
        <div class="ltr size-2"></div>
        <div class="ltr size-1"></div>
        <div class="ltr size-1"></div>
    </div>
    <span class="text">I DON'T THINK SO!</span>
</div>

<!-- Fuhito objection modal -->
<div class="objection fuhito modal">
    <div class="modal-lines">
        <div class="rtl size-1"></div>
        <div class="rtl size-2"></div>
        <div class="rtl size-4"></div>
        <div class="rtl size-3"></div>
        <div class="rtl size-1"></div>
        <div class="rtl size-6"></div>
        <div class="rtl size-2"></div>
        <div class="rtl size-2"></div>
        <div class="rtl size-1"></div>
        <div class="rtl size-1"></div>
    </div>
    <span class="text">OBJECTION!</span>
</div>

<!-- Investigation complete -->
<div class="finish modal">
    <div class="modal-lines">
        <div class="ltr size-1"></div>
        <div class="rtl size-2"></div>
        <div class="rtl size-4"></div>
        <div class="ltr size-3"></div>
        <div class="rtl size-1"></div>
        <div class="ltr size-6"></div>
        <div class="rtl size-2"></div>
        <div class="ltr size-2"></div>
        <div class="ltr size-1"></div>
        <div class="rtl size-1"></div>
    </div>
    <a href="#" class="text">Finish Deduction</a>
</div>

<!-- Volume slider -->
<div id="music-player">
    <div id="music-title"><span><span class="music-note">♬</span> Example of an empty track (Example OST)</span></div>
    <div id="music-controls">
        <button id="music-previous" aria-label="Previous track" title="Previous track">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path d="M12 12l12-7v14l-12-7zm-12 0l12-7v14l-12-7z" fill="#FFFFFF"/>
            </svg>
        </button>
        <button id="music-playpause" aria-label="Play/Pause" title="Play/Pause">
            <svg class="icon-play" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24">
                <path d="M2 24v-24l20 12-20 12z" fill="#FFF"></path>
            </svg>
            <svg class="icon-pause" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24">
                <path d="M10 24h-6v-24h6v24zm10-24h-6v24h6v-24z" fill="#FFFFFF"/>
            </svg>
        </button>
        <button id="music-next" aria-label="Next track" title="Next track">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path d="M0 19v-14l12 7-12 7zm12 0v-14l12 7-12 7z" fill="#FFFFFF"/>
            </svg>
        </button>
        <div class="separator"></div>
        <label for="volume-slider" aria-label="Volume" title="Volume">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                <path d="M6 7l8-5v20l-8-5v-10zm-6 10h4v-10h-4v10zm20.264-13.264l-1.497 1.497c1.847 1.783 2.983 4.157 2.983 6.767 0 2.61-1.135 4.984-2.983 6.766l1.498 1.498c2.305-2.153 3.735-5.055 3.735-8.264s-1.43-6.11-3.736-8.264zm-.489 8.264c0-2.084-.915-3.967-2.384-5.391l-1.503 1.503c1.011 1.049 1.637 2.401 1.637 3.888 0 1.488-.623 2.841-1.634 3.891l1.503 1.503c1.468-1.424 2.381-3.309 2.381-5.394z"/>
            </svg>
        </label>
        <input id="volume-slider" type="range" name="volume" min="0" max="50" value="25"/>
        <div class="separator"></div>
        <a id="music-link-external" href="https://example.org" target="_blank" aria-label="Open music in a new tab" title="Open music in a new tab">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
                <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
                      fill="#FFFFFF"/>
            </svg>
        </a>
    </div>
</div>

<!-- Rotation tip -->
<div class="rotation-tip dynamic">
    <div class="input mouse"><img src="https://ocremaker.frama.io/images/icons/mouse-move.svg"/> Click the <span
            class="first">target toward which the gun was aimed</span><span class="next">next object that was hit by the bullet</span>
    </div>
    <div class="input touch"><img src="https://ocremaker.frama.io/images/icons/touch.svg"/> Touch the <span
            class="first">target toward which the gun was aimed</span><span class="next">next object that was hit by the bullet</span>
    </div>
</div>

<!-- Prompts -->
<div class="prompt prompt-pick" id="prompt1">
    <div class="prompt-title"><span class="prompt-title-inner">Shoot down argument</span></div>
    <p class="prompt-statement">The defense is bluffing.
        <mark>They don’t have a shred of evidence</mark>
        to back their theory up!
    </p>
    <div class="bullet-list">
        <a dialog-href="evidence1-wrong" class="bullet">Autopsy Report</a>
        <a dialog-href="evidence1-wrong" class="bullet">Second Bullet</a>
        <a dialog-href="evidence1-wrong" class="bullet">Broken Lamppost</a>
        <a dialog-href="evidence1-pocketwatch" class="bullet">Pocketwatch</a>
        <a dialog-href="evidence1-wrong" class="bullet">Fake Glasses</a>
    </div>
</div>
<div class="prompt prompt-pick" id="prompt2">
    <div class="prompt-title"><span class="prompt-title-inner">Shoot down argument</span></div>
    <p class="prompt-statement">Proving when, let alone by what, the lamppost was shattered in an alleyway with no
        camera?
        <mark>That's impossible!</mark>
    </p>
    <div class="bullet-list">
        <a dialog-href="evidence2-wrong" class="bullet">Pocketwatch</a>
        <a dialog-href="evidence2-wrong" class="bullet">Silenced Pistol</a>
        <a dialog-href="evidence2-wrong" class="bullet">Fake Glasses</a>
        <a dialog-href="evidence2-wrong" class="bullet">Burnt Gloves</a>
        <a dialog-href="evidence2-glass-shards" class="bullet">Glass Shards</a>
    </div>
</div>
<div class="prompt prompt-new-bullet" id="prompt3">
    <div class="prompt-title"><span class="prompt-title-inner">Truth bullet obtained</span></div>
    <div class="bullet-list">
        <div class="bullet">Pocketwatch</div>
    </div>
    <p class="prompt-description">Test description with a lot of text <br>on multiple lines!</p>
    <a class="prompt-continue" href="#">Continue</a>
</div>

<!-- Dialogs -->
<!-- Start dialog -->
{{ dialogs }}

<!-- Credits -->
<p id="credits">
    Copyright © ocremaker 2023-2025<br>
    <a href="https://framagit.org/ocremaker/kirigiri-investigations/-/blob/main/COPYING.md?ref_type=heads">Content
        licenses</a> • <a href="https://framagit.org/ocremaker/kirigiri-investigations">Source code</a><br>
</p>
</body>
</html>

