<!DOCTYPE html>
<!--
Kirigiri: Investigations - 3D Truth Bullet Examinations
Copyright (C) 2023-2025  ocremaker

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
    <head>
        <title>Kirigiri: Investigations - Crime Scene Sketch (Chapter 1)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset='UTF-8'/>
        <!-- Preload -->
        <link rel="preload" href="../sfx/complete.opus" as="audio" />
        <link rel="preload" href="../sfx/treasure.opus" as="audio" />
        <link rel="preload" href="../sfx/dialog.opus" as="audio" />
        <link rel="preload" href="../sfx/select.ogg" as="audio" />
        <link rel="preload" href="../sfx/slam.ogg" as="audio" />
        <!-- Scripts & styles -->
        <meta name="ki:modules" content="results,rotate,sfx">
        <script src="../js/main.js" type="module"></script>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body class="crimescene3D">
        <!-- States declarations -->
        <div id="cookie"></div>
        <div id="complete"></div>
        
        {{ dialog_anchors }}
        
        <!-- Scene figure -->
        <section class="scene">
            <figure class="root" style='--width: 600px; --height: 500px;'>
            
                <figure id="map-poly" style="left: 50%; top: 50%; width: 640px; height: 580px;">
                    <figure class="map plane position-at-center interactive">
                        <figure class="face front interactive">
                            <img class="fill interactive" src="scene.jpg"
                                alt="A handdrawn isometric sketch of the crime scene drawn with crude lines. The shape of the alleyway's bottom seem to match a horizontally mirrored L with the alleyway exiting orthogonally to the smaller line. Near the L's corner, a silhouette of a corpse lying in a pool of blood is drawn under a lamppost, with shattered glass and glasses near its head. In front of it, at the end of the larger line of the L, five circular lines are drawn representing the hands, feet, and bottom of the suspect when sat down. Next to those, on the wall, a rectangular door is drawn. And behind the suspect, a small sign is detailed on the wall, with a cross drawn just under it." />
                            
                            <!-- Pool of blood -->
                            <figure id="blood" class="interactive">
                                <a class="fill" dialog-href="blood" aria-label="Examine the pool of blood"></a>
                                <div class="tooltip above">Blood</div>
                            </figure>
                            
                            <!-- Glasses -->
                            <figure id="glasses" class="interactive">
                                <a class="fill" dialog-href="glasses" aria-label="Examine the glasses"></a>
                                <div class="tooltip left">Glasses</div>
                            </figure>
                            
                            <!-- Glass shards -->
                            <figure id="glass-shards" class="interactive">
                                <a class="fill" dialog-href="glass-shards" aria-label="Examine the glass shards"></a>
                                <div class="tooltip above">Glass shards</div>
                            </figure>
                            
                            <!-- Corpse -->
                            <figure id="corpse-head" class="interactive">
                                <a class="fill" dialog-href="corpse" aria-label="Examine the corpse silhouette"></a>
                                <div class="tooltip left">Corpse silhouette</div>
                            </figure>
                            <figure id="corpse-arm-raised" class="interactive">
                                <a class="fill" dialog-href="corpse" aria-label="Examine the corpse silhouette"></a>
                                <div class="tooltip above">Corpse silhouette</div>
                            </figure>
                            <figure id="corpse-body" class="interactive">
                                <a class="fill" dialog-href="corpse" aria-label="Examine the corpse silhouette"></a>
                                <div class="tooltip below">Corpse silhouette</div>
                            </figure>
                            <figure id="corpse-legs" class="interactive">
                                <a class="fill" dialog-href="corpse" aria-label="Examine the corpse silhouette"></a>
                                <div class="tooltip below">Corpse silhouette</div>
                            </figure>
                            
                            <!-- Lamp post -->
                            <figure id="lamppost-head" class="interactive">
                                <a class="fill" dialog-href="lamppost" aria-label="Examine the lamppost"></a>
                                <div class="tooltip left">Lamppost</div>
                            </figure>
                            <figure id="lamppost-body" class="interactive">
                                <a class="fill" dialog-href="lamppost" aria-label="Examine the lamppost"></a>
                                <div class="tooltip left">Lamppost</div>
                            </figure>
                            
                            <!-- Door -->
                            <figure id="door" class="interactive">
                                <a class="fill" dialog-href="door" aria-label="Examine the door"></a>
                                <div class="tooltip above">Door</div>
                            </figure>
                            
                            <!-- Pistol -->
                            <figure id="pistol" class="interactive">
                                <a class="fill" dialog-href="pistol" aria-label="Examine the pistol"></a>
                                <div class="tooltip above">Pistol</div>
                            </figure>
                            
                            <!-- Suspect's position -->
                            <figure id="suspect" class="interactive">
                                <a class="fill" dialog-href="suspect" aria-label="Examine the five marks"></a>
                                <div class="tooltip above">Five marks</div>
                            </figure>
                            
                            <!-- Sign -->
                            <figure id="wall-sign" class="interactive">
                                <a class="fill" dialog-href="sign" aria-label="Examine the sign on the wall"></a>
                                <div class="tooltip above">Sign</div>
                            </figure>
                            
                            <!-- Mark for where the second bullet is -->
                            <figure id="cross-mark" class="interactive">
                                <a class="fill" dialog-href="bullet" aria-label="Examine the cross mark on the wall"></a>
                                <div class="tooltip below">Cross mark</div>
                            </figure>
                        </figure>
                        <figure class="face back interactive">
                            <img src="scene-back.jpg" class="fill interactive" alt="Paper back with a written note." />
                        </figure>
                    </figure>
                </figure>
            </figure>
            <figure class="root back-links" style='--width: 600px; --height: 500px;'>
                <figure style="left: 50%; top: 50%;">
                    <figure class="map plane position-at-center interactive">
                        <!-- Note to remind to buy cookie -->
                        <figure id="cookie-reminder" class="interactive position-at-center">
                            <a class="fill" dialog-href="cookie" aria-label="Examine the note"></a>
                            <div class="tooltip above">Note</div>
                        </figure>
                    </figure>
                </figure>
            </figure>
        </section>
        
        <!-- Loading information -->
        <div id="loading-status">
            <h1>Loading...</h1>
            <meter min="0"></meter>
            <p>Loading modules...</p>
        </div>
        
        <!-- Rotation tip -->
        <div class="rotation-tip">
            <div class="input mouse"><img src="https://ocremaker.frama.io/images/icons/mouse-move.svg"/> Click and drag to rotate the object</div>
            <div class="input touch"><img src="https://ocremaker.frama.io/images/icons/touch.svg"/> Touch the background to rotate the object</div>
        </div>
        
        <!-- Cookie -->
        <div class="cookie modal">
            <div class="modal-lines">
                <div class="ltr size-1"></div>
                <div class="rtl size-2"></div>
                <div class="rtl size-4"></div>
                <div class="ltr size-3"></div>
                <div class="rtl size-1"></div>
                <div class="ltr size-6"></div>
                <div class="rtl size-2"></div>
                <div class="ltr size-2"></div>
                <div class="ltr size-1"></div>
                <div class="rtl size-1"></div>
            </div>
            <p class="text">🍪 Cookie +1</p>
        </div>
        
        <!-- Investigation results -->
        <div id="investigation-results" title="Current progress of the investigation"></div>
        
        <!-- Investigation complete -->
        <div class="complete modal">
            <div class="modal-lines">
                <div class="ltr size-1"></div>
                <div class="rtl size-2"></div>
                <div class="rtl size-4"></div>
                <div class="ltr size-3"></div>
                <div class="rtl size-1"></div>
                <div class="ltr size-6"></div>
                <div class="rtl size-2"></div>
                <div class="ltr size-2"></div>
                <div class="ltr size-1"></div>
                <div class="rtl size-1"></div>
            </div>
            <span class="text">🔎 Investigation complete!</span>
        </div>
        
        <!-- Dialogs -->
        {{ dialogs }}
        
        <!-- Credits -->
        <p id="credits">
            <img src="https://ocremaker.frama.io/images/dr/ki/logo-thinned.png" /><br>
            Copyright © ocremaker 2023-2025<br>
            <a href="https://framagit.org/ocremaker/kirigiri-investigations/-/blob/main/COPYING.md?ref_type=heads">Content licenses</a> • <a href="https://framagit.org/ocremaker/kirigiri-investigations">Source code</a><br>
        </p>
    </body>
</html>

