<!DOCTYPE html>
<!--
Kirigiri: Investigations - 3D Truth Bullet Examinations
Copyright (C) 2023-2025  ocremaker

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
    <head>
        <title>Kirigiri: Investigations - Glasses (Chapter 1)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset='UTF-8'/>
        <!-- Preload -->
        <link rel="preload" href="../sfx/complete.opus" as="audio" />
        <link rel="preload" href="../sfx/dialog.opus" as="audio" />
        <link rel="preload" href="../sfx/select.ogg" as="audio" />
        <link rel="preload" href="../sfx/question.ogg" as="audio" />
        <!-- Scripts & styles -->
        <meta name="ki:modules" content="results,rotate,sfx">
        <script src="../js/main.js" type="module"></script>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body id="glasses3D">
        <div id="complete"></div>
        
        <!-- Dialogs -->
        {{ dialog_anchors }}
        
        <!-- Scene figure -->
        <section class="scene">
            <figure class="root">
                <figure id="glasses-poly">
                    <figure id="glasses" class="plane interactive position-at-center">
                        <img src="side2.png" class="face front" />
                        <img src="side1.png" class="face back" />
                        <a class="fill" dialog-href="glasses" aria-label="Examine glasses"></a>
                        <div class="tooltip above">Glasses</div>
                    </figure>
                    
                    <figure id="branch1" class="plane position-at-center">
                        <img src="branch1.png" class="face front" />
                        <img src="branch1-mirrored.png" class="face back" />
                    </figure>
                    
                    <figure id="branch2" class="plane position-at-center">
                        <img src="branch2.png" class="face front" />
                        <img src="branch2-mirrored.png" class="face back" />
                    </figure>
                </figure>
            </figure>
        </section>
        
        <!-- Loading information -->
        <div id="loading-status">
            <h1>Loading...</h1>
            <meter min="0"></meter>
            <p>Loading modules...</p>
        </div>
        
        <!-- Rotation tip -->
        <div class="rotation-tip">
            <div class="input mouse"><img src="https://ocremaker.frama.io/images/icons/mouse-move.svg"/> Click and drag to rotate the object</div>
            <div class="input touch"><img src="https://ocremaker.frama.io/images/icons/touch.svg"/> Touch the background to rotate the object</div>
        </div>
        
        <!-- Investigation results -->
        <div id="investigation-results" title="Current progress of the investigation"></div>
        
        <!-- Investigation complete -->
        <div class="complete modal">
            <div class="modal-lines">
                <div class="ltr size-1"></div>
                <div class="rtl size-2"></div>
                <div class="rtl size-4"></div>
                <div class="ltr size-3"></div>
                <div class="rtl size-1"></div>
                <div class="ltr size-6"></div>
                <div class="rtl size-2"></div>
                <div class="ltr size-2"></div>
                <div class="ltr size-1"></div>
                <div class="rtl size-1"></div>
            </div>
            <span class="text">🔎 Investigation complete!</span>
        </div>
        
        <!-- Dialogs -->
        {{ dialogs }}
        
        <!-- Credits -->
        <p id="credits">
            <img src="https://ocremaker.frama.io/images/dr/ki/logo-thinned.png" /><br>
            Copyright © ocremaker 2023-2025<br>
            <a href="https://framagit.org/ocremaker/kirigiri-investigations/-/blob/main/COPYING.md?ref_type=heads">Content licenses</a> • <a href="https://framagit.org/ocremaker/kirigiri-investigations">Source code</a><br>
        </p>
    </body>
</html>
